[2019-06-25 19:34] AlexEne opened #4 "Create a rust-gamedev.github.io site"
We need a way to communicate status, news and other things.

The first idea I have is a site like https://rustwasm.github.io/ or any of the other wgs

[2019-08-02 20:22] ozkriff opened #2 "Newsletter"
It would be great to start a (monthly?) newsletter for summarizing what interesting stuff happens in the rust gamedev ecosystem.

Examples of newsletters from other rust WGs:

- https://rust-embedded.github.io/blog
- https://rustwasm.github.io

Related to rust-gamedev/wg#10 (_"Create a rust-gamedev.github.io site"_)

[2019-08-13 08:52] 17cupsofcoffee opened #3 "Introduction post"
It was mentioned on https://github.com/rust-gamedev/wg/issues/10 that we might want to have  an introduction post talking about what the WG has been up to so far. Figured it might be a good idea to start a discussion on what that might look like 😄

Some ideas/thoughts:

* We probably want to sum up the goals/charter - if this is going to get posted on URLO/Reddit/etc as people's first introduction

[2019-08-14 23:11] AlexEne commented on #3
My vote is to not worry too much about how the newsletter should look as we write this one and do this as a first post.

[2019-08-16 07:19] ozkriff commented on #4
Maybe the background shouldn't be blue? It looks a little bit weird with red emojis without an outline of my system's font:

![image](https://user-images.githubusercontent.com/662976/63150270-0ad0a880-c00f-11e9-83b8-256bb7845faa.png)

[2019-08-16 08:45] Lokathor commented on #3
the `raw-window-handle` thing is our most practical and immediate success i think

[2019-08-16 10:23] 17cupsofcoffee commented on #3
Oh wow, I hadn't been keeping up with that but it seems like a really big win to have gotten winit/gfx/etc on board with a shared interface. Definitely need to call that out in the post/newsletter 🙏

[2019-08-16 17:05] Lokathor commented on #3
https://github.com/rust-gamedev/wg/issues/26

[2019-08-17 10:56] 17cupsofcoffee commented on #4
Hm, yeah, that's unfortunate - on Windows 10 they have nice black borders:

![image](https://user-images.githubusercontent.com/784533/63210397-ad5b5b00-c0e5-11e9-8a24-ee0f3e667718.png)

If we can't rely on them looking vaguely consistent across platforms, they should probably be removed/replaced. I only really put them there because I was jealous of the WASM WG's hard-hat Ferris :p

I'm not partic

[2019-08-17 12:11] 17cupsofcoffee commented on #3
Posted a first draft for review: #5

[2019-08-17 14:52] zicklag commented on #4
I think you should be able to make the display consistant if you provide a downloadable font and set that as the font-family. That way every system uses the same icons instead of each one using its system default.

Also, there might be a way to extract the SVG from a font and put SVG icons in there instead.

---

Also, I have experience with [Quasar](https://quasar.dev) for building websites if th

[2019-08-17 15:46] ozkriff commented on #2
I finally finished a draft/"vertical slice" of a newsletter as I see it (based on @aclysma's template). What do you think about the structure and presentation?

https://gist.github.com/ozkriff/9383de161eb2455cf7d1fda65cdc3696

If nobody objects I'll make a WIP PR tomorrow (or in a few days).

Hmm, yep, notification noise isn't an issue because of the separate repo so, yeah, it's better to stick to

[2019-08-18 15:01] AlexEne commented on #4
If nobody has anything against this, I can go ahead and close this one and we can open more targeted issues if needed. (like one for font icons if we want to change/fix them them). Otherwise it gets to be too big of an issue.

[2019-08-18 15:41] #3 closed

[2019-08-18 17:29] Lokathor opened #6 "[Tracking Issue/Discussion] The Ecosystem Guide"
I know that there's an open PR for the start of an ecosystem guide, but since this is one of our goals before the next meeting I wanted to have a general discussion and get people's thoughts about the subject without totally clogging up the review of kvark's specific PR.

The general subject of this issue is _anything_ related to the gamedev-wg doing an ecosystem guide.

Assuming that we do make a

[2019-08-18 18:26] ozkriff opened #7 "Zola?"
Are we sure want to use Jekyll generator? I'm ok if we decide to stay with it, but want to make sure that it was seriously considered.

My only functional issue with Jekyll so far is that it requires to store posts and assets (images) in separate directories. That's not a critical thing, but it's a site of Rust working group and it seems a little bit weird to me not to use excellent rusty tools wh

[2019-08-18 18:31] AlexEne commented on #7
I am quite sure due to two factors:
1. Posts are markdown, and it's super easy. you can do html inline in case of emergency.
2. __Magical integration with github__ so it allows you to basically just edit markdown without any tools installed to contribute to the site, thus allowing more people to contribute as it can't get easier than this (or if it can I am open to suggestions).
3. Storing images

[2019-08-18 18:43] 17cupsofcoffee commented on #7
My position is "I'll go with whatever everyone else wants to use", for what it's worth 🙂

Point 2 is probably the main sticking point - Zola doesn't have GitHub Pages integration in the same magic way that Jekyll does. You either have to [use a CI service](https://www.getzola.org/documentation/deployment/github-pages/) to build and publish your site to the `gh-pages` branch, or use an external hos

[2019-08-18 20:44] ozkriff commented on #7
As for the first point, Zola is no different here.

About the second part, as @17cupsofcoffee said, we only need to set up Travis scripts once and it will provide nearly the same experience for contributors. We don't even need to write our own scripts, we can just reuse [scripts from Embedded WG repo](https://github.com/rust-embedded/blog/tree/master/ci).

As a nice bonus, using explicit Travis sc

[2019-08-19 07:42] AlexEne commented on #7
But what is the advantage?

[2019-08-19 07:52] ozkriff commented on #7
For me, it's mostly about "just" using a Rust tool, yep.

[2019-08-19 08:16] not-fl3 commented on #7
Ruby installation for local testing looks like a serious roadblock for future contributors and couple of travis scripts to avoid this may be worth it.

[2019-08-19 08:46] AlexEne commented on #7
Umm, you don't need local Ruby to contribute posts, i don't have it. You need it for style changes, but how often do they really happen?

[2019-08-19 08:49] AlexEne commented on #7
@ozkriff is this an ask on me and 7 cups to change this or are you offering to do the work?

I want to clarify this as I received no advice or contributions when the website issue was open.

[2019-08-19 09:13] 17cupsofcoffee commented on #7
I would be willing to work on porting the theme across if the consensus was that we wanted to switch. I do kinda agree that it seems like a lot of effort for not a ton of benefit, though.

[2019-08-19 09:20] AlexEne commented on #7
It's more about the missed opportunity to suggest this in the 1 month when the website issue was opened(with me mentioning it in each meeting). I did a basic skeleton and until you came there was no suggestion either.
So the way I see it there was a large enough time to get this proposed.
Switching is boy worth it now, after the fact as it seems of little benefit

[2019-08-19 09:54] not-fl3 commented on #7
Sorry for missed timing, if the decision is made and we lost the FCP timings - its fine, jekyll is actually pretty good and definetly will works.

I just want to point out that there are actual advantages of Zola with custom travis scripts:
- ability to local tests and preview without all the Ruby dependencies
- more configurable uploading pipeline - ability to add more steps on travis, like spell

[2019-08-19 10:24] ozkriff commented on #7
Yep, I can do the migration and CI setup, but I will need help with the templates if it's required to use the current theme (because I have almost no experience with templates editing).

[2019-08-19 10:44] AlexEne commented on #7
I am still voting against this just because we had so much time to suggest changes and didn't and we invested work in this already.

But as you wish, you are free to open a PR for this migration as I see @17cupsofcoffee doesn't have any objections and you keep the looks. That's my only request

[2019-08-19 11:09] AlexEne commented on #7
I would still ask, is Zola the best alternative or are there others that will pop up in another issue next month or in two months?

[2019-08-19 11:17] 17cupsofcoffee commented on #7
If we're ruling out non-Rust static site generators, then the only other potential choice that could come up is Cobalt. That said, I've tried both Cobalt and Zola and found the latter significantly more pleasant to use.

[2019-08-19 11:21] not-fl3 commented on #7
Yes, Zola is the only alternative - the only pure rust static website generator widely used across the community, well tested and mature enough to be considered as Jekyll drop-in replacement.

[2019-08-19 11:26] not-fl3 commented on #7
I may be wrong here, but cobalt.rs is a bit outdated - Zola have way more live usage examples and is more alive in general.

[2019-08-19 17:23] ozkriff commented on #7
I'd be happy to do the migration to Zola if the consensus is that it's the right thing to do, but I'm not going to push it through if that feels like I'm downplaying someone's work. That wasn't my intention and I'm sorry for the annoyance this discussion may have caused.

Perhaps some kind of explicit decision deadlines/FCPs may help prevent this in the future.

I think that Zola is the best rusty

[2019-08-19 18:01] 17cupsofcoffee commented on #7
Can only speak for myself, but I don't feel like my work was being downplayed, don't worry! 😄 Like you say, I think people just have different value systems when it comes to these kinds of tools.

Anyway, the layout of the site is pretty simple and non-Jekyll-specific - I don't think there's any danger of us getting too locked in (especially if we're not too messy with the assets folder - I like A

[2019-08-19 21:48] zicklag commented on #7
For me, I like being able to build sites locally, because you never really know how it is going to look before you publish it, especially when GitHub won't render HTML that is embedded in Markdown. Because of that, I would much rather use a super easy-to-install tool like Zola than Jekyll, because of the pain that I've had building several other Jekyll sites, each with different requirements for t

[2019-08-21 18:52] ozkriff opened #11 "<hr/> tag looks weird with `margin: 0`"
Minima's `_base.scss` file resets the margin of the `<hr>` tag to zero:

https://github.com/rust-gamedev/rust-gamedev.github.io/blob/8dab245a216cf789c77f33b041f70083a7e3c0ee/_sass/minima/_base.scss#L4-L7

And it results in that Markdown's horizontal line `------` sticks to the next line uncomfortably close:

![image](https://user-images.githubusercontent.com/662976/63459167-c4d77280-c45c-11e9-9193

[2019-08-21 18:57] ozkriff commented on #11
Also, something seems to be wrong with nested lists' margins:

![image](https://user-images.githubusercontent.com/662976/63460096-85aa2100-c45e-11e9-85d5-0f01edaf18ab.png)

[2019-08-21 19:08] ozkriff opened #12 "Main page icons appearance"
Quoting from https://github.com/rust-gamedev/rust-gamedev.github.io/issues/4:

[2019-08-21 19:46] 17cupsofcoffee commented on #12
I might have a go at sorting this out tonight 🙂 There's several open source emoji projects that would fit with the licenses we're already using, so I should just be able to grab those SVGs and add them to the existing file.

That or I could try to hack together an appropriately themed Ferris along the lines of what the WASM group have - not sure if my artistic talents (or lack thereof) stretch tha

[2019-08-21 21:19] 17cupsofcoffee commented on #12
Sent a PR to switch to some third party icons in SVG form: #13

[2019-08-21 21:30] 17cupsofcoffee commented on #11
The only downside to editing the minima files would be we'd have to diff them if we upgrade to a newer version or risk losing your changes - the alternative would be to add `hr { margin-bottom: $spacing-unit / 2; }` to `extra.scss`, but that would bump the filesize a little. Tradeoffs to both ways :)

The nested list issue is my bad - change this part of `extra.scss`:

[code]

To this:

[code]

Mi

[2019-08-22 07:37] #12 closed

[2019-08-22 21:32] Wodann commented on #6
During our biweekly [meeting](rust-gamedev/wg/issues/38) we coined multiple ways of improving AreWeGameYet organisation:

1. Indicate the "liveness": if something is outdated versus recently updated
2. Classify with features that we (the community and the working group) all agree on. Modifying the feature labels would need to be peer-reviewed so that the classification stays objective at large.
3.

[2019-08-24 05:50] aclysma commented on #6
Personally, I like a lot of the ideas you've proposed. (Although it may be a lot of work!)

I think this would be useful, but it sounds difficult to do in an automated way, and I think it would be liable to rot. Would be really nice to have this if possible though.

Linking to other resources could be a practical way to be helpful while staying unopinionated as a WG. (For example, if there's a goo

[2019-08-26 12:57] Wodann commented on #6
@aclysma I agree that it is a lot of work. I was hoping to prioritise the list based on feedback and implement accordingly.

The actively/passively maintained flags would be set upon insertion of a new crate, as proposed in @kvark 's format. Ideally, maintainers would change the status once they stop maintaining their repo - similar to how they sometimes add a notification in their README. I agree

[2019-08-26 13:10] icefoxen commented on #6
Crates.io already has a "maintenance status" tag, we could just display that if we trust the owners of the crates to put meaningful stuff there.

[2019-08-26 14:55] Wodann commented on #6
@icefoxen That's a good one!

For completeness:
[code]

[2019-08-29 11:56] #11 closed

[2019-08-30 12:23] ozkriff opened #15 "Newsletter: Create template and document workflow"
I propose publishing the first newsletter on September 2. After its release, I'm going to strip it down to a bare-bones template (like [it's done in embedded WG](https://raw.githubusercontent.com/rust-embedded/blog/4070de3d5/newsletter-template.md), for example) and add it to the repo so we can start working in the second newsletter.

In https://github.com/rust-gamedev/rust-gamedev.github.io/pull/

[2019-08-31 11:38] ozkriff opened #16 "Discussion: Newsletter's Title"
(Bikeshedding time)

The current draft of the newsletter is titled as "This Month in Rust GameDev #1 - August 2019". At least @Lokathor (and @AlexEne?) aren't happy with this, so I'm creating this issue to document the discussion and decide if we want to change the title.

Discussion so far (from [the newsletter PR](https://github.com/rust-gamedev/rust-gamedev.github.io/pull/9)):

@Lokathor:

@ozk

[2019-08-31 11:46] ozkriff commented on #16
I think that my problem with using the "next" month in the title is that the title is "_This Month_ in Rust GameDev - {Month} {Year}" and not something more abstract like "Rust GameDev News - {Month} {Year}". And naming newsletters using "This {X} in Rust {Y}" is a tradition of Rust ecosystem that I wouldn't want to break.

[2019-08-31 13:18] Lokathor commented on #16
interesting bikeshed to keep going with, the vote seemed clear to me XD

If we named the issue after the time period it comes out near the start of we just also change the title. Instead of "This Month In Rust Gamedev", perhaps something like "The Gamedev WG Newsletter - (MONTH) Edition"

[2019-09-01 12:59] AlexEne commented on #16
I am happy :) I just wanted September in the title but that's a tiny detail

[2019-09-05 13:08] jeffvandyke commented on #2
I just came from [Newsletter #1](https://rust-gamedev.github.io/2019/09/02/newsletter-001.html) - very nice! I think some folks (including me) would appreciate a email subscription option like This Week In Rust does (twitter and reddit updates don't show up in my inbox). Perhaps whatever email service they use could be adopted for rust-gamedev?

[2019-09-05 13:19] 17cupsofcoffee commented on #2
[They apparently use MailChimp for this](https://github.com/cmr/this-week-in-rust#to-build-the-newsletter) - their free plan only allows up to 2000 subscribers, however, and [they already surpassed that in 2016](https://github.com/cmr/this-week-in-rust/issues/327), so they must be on one of the paid ones.

I think this is definitely a good idea, but we'd need to either find a service with a more g

[2019-09-05 22:31] phaazon commented on #2
That makes me think I should really have an RSS stream on my website… I need to check how to do that.

[2019-09-17 15:40] 17cupsofcoffee commented on #15
I think the workflow you described in the link sounds good, if no one has any objections.

[2019-09-27 22:51] #15 closed

[2019-10-02 12:10] ozkriff opened #24 "Email Subscription"
(Extracted from https://github.com/rust-gamedev/rust-gamedev.github.io/issues/2)

[2019-10-02 12:13] ozkriff commented on #2
Created a separate issue for email subscription: #24 (_"Email Subscription"_).

------

The first newsletter is out and the second is in the works - I guess this issue can be closed as completed now?

[2019-10-02 12:14] 17cupsofcoffee commented on #2
Yep, don't think there's anything left to do here 👍

[2019-10-02 12:33] 17cupsofcoffee commented on #24
At the very least, we should make sure that we submit the newsletter for inclusion in This Week In Rust every time it comes out. [I think this was done for the first one](https://this-week-in-rust.org/blog/2019/09/03/this-week-in-rust-302/), not sure if that was a PR from one of us or someone on their end :)

[2019-10-02 12:35] 17cupsofcoffee commented on #16
I think this issue can be closed now that the first issue is out - would be a bit weird if we changed naming schemes now :p

[2019-10-02 12:39] ozkriff commented on #24
About TWIR: It was [my PR](https://github.com/cmr/this-week-in-rust/pull/997), but they have a policy of not including newsletters and other regular issues. The first newsletter was included as a one-time exception.

[2019-10-02 13:13] 17cupsofcoffee commented on #24
Ah, that's a bummer. I get it, though, they probably don't want their entire newsletter to be... links to other newsletters 😅

[2019-10-02 15:39] JeanMertz commented on #24
We can at least ask to add it one more time, with a notice that we now have a proper newsletter to which people can subscribe (when that is in place, of course).

[2019-10-03 11:41] #16 closed

[2019-10-03 11:41] #2 closed

[2019-10-03 11:42] 17cupsofcoffee commented on #4
Don't think there's anything left to do here that's not covered by other issues, so I think this can be closed now.

[2019-10-03 11:42] #4 closed

[2019-10-03 14:05] 17cupsofcoffee commented on #24
So, as far as I can tell we've got a few options:

* MailChimp is pretty tried and tested. They offer up to 2000 subscribers, and then the next tier up is $9.99 a month for 50,000. That's not a huge expense, but we'd have to figure out where that money would come from. Good analytics features, etc.
    * There's several other companies at a similar scale to MailChimp (SendGrid, MailGun), but I hav

[2019-10-03 23:12] AlexEne commented on #24
I'm fine to sponsor the 9.99 $ mail chimp payed tier.

[2019-10-04 08:00] JeanMertz commented on #24
Although I'm not part of the WG, I'm following along and have a vested interest in it succeeding. We can split the bill if that helps, I can wire you 12 months upfront to make things less complicated.

[2019-10-04 08:36] 17cupsofcoffee commented on #24
I'm also happy to chip in - just wanted to make sure I wasn't going to get stuck with the bill forever if I set it up 😛 That said, this is all theoretical until we actually hit 2k subscribers, which is a pretty high bar to cross!

I'll have a play with some of the above services over the weekend and see if I can figure out a reasonably ergonomic pipeline.

[2019-10-04 23:01] 17cupsofcoffee commented on #24
One potential stumbling block I've run into - MailChimp [require you to provide a physical mailing address before you can set up a campaign](https://mailchimp.com/help/anti-spam-requirements-for-email/), and it has to be included in every email you send to comply with their TOS (and some countries' laws, I think?). I wouldn't be comfortable using my home address for that, I don't think I could get

[2019-10-04 23:06] Lokathor commented on #24
Is there some sort of... mozilla office address thing we can give since we're part of the broader Rust team?

[2019-10-06 10:37] ozkriff commented on #24
[Another email subscription request from Twitter](https://twitter.com/masonremaley/status/1180617286111023104):

@masonremaley:

[2019-10-06 11:21] ozkriff opened #30 "CI: Add markdownlint checks"

[2019-10-20 19:16] ozkriff opened #31 "Twitter preview"
Atm, the twitter preview is quite boring:

![image](https://user-images.githubusercontent.com/662976/67164808-116cfa80-f387-11e9-8070-d656c0dacaa6.png)

It may be worth to investigate additional meta tags a little to make it look nicer:
https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary

[2019-10-20 19:43] 17cupsofcoffee commented on #31
Looking at the site, there does appear to be some relevant meta tags in there already, courtesy of a plugin:

[2019-11-08 12:53] berkus commented on #7
My favourite killer feature of Zola is integrated JS-powered site indexer/search.

You can see one in action at https://metta.systems (my blog).

[2019-11-08 20:41] remram44 opened #38 "Add table of contents"
The articles are getting long and are organized in multiple sections. It is probably worth having a table of contents at the top or on the side. Example for this week:

* Game Updates
  * Sulis - a Turn-Based RPG
  * Veloren
  * PF Sandbox
  * Antorum
  * Ferris Fencing
  * Tennis Academy v0.03 &amp; v0.0.4
  * piano-rs
  * Will it dissolve?
  * Garden Devlog: October
  * EVE Aether Wars Backend O

[2019-11-19 08:43] Athorus opened #40 "New game : Le Train Dispatcher"
I've published my game : Le Train Dispatcher
http://athorus.itch.io/ltd

I would be glad and proud if you could talk about this game in your next newsletter. I did not yet promote it. I'm looking for contributors.
If you need some information or materials, let me know if I can help you.

Feel free to comment my work, even though it is not nice, I need that to improve the game.

Thanks for your wor

[2019-11-19 08:46] Lokathor commented on #40
I'm moving this over to the `rust-gamedev.github.io` repository since that's where the newsletter is stored.

[2019-11-19 08:48] Lokathor commented on #40
Also, i'm the most interested in your deployment process with building a binary for each of the OSes. Did you do anything special to make sure that the binaries are as portable as possible? Do you have three machines or did you get a CI server to build and store some artifacts for you? How did that all work.

[2019-11-19 08:56] ozkriff commented on #40
@Athorus sure, I'll add your game! But if you have time, please send a PR to the current draft file: https://github.com/rust-gamedev/rust-gamedev.github.io/blob/master/_drafts/newsletter-004.md

[2019-11-19 09:55] phaazon commented on #40
![](https://phaazon.net/media/uploads/bateman_very_nice.gif)

[2019-11-19 12:43] Athorus commented on #40
@Lokathor, first of all, I do not know if the OsX binary works, if someone can test, it will help me.
It was a lot of work to build all the binaries on one computer with one script. If it worth to write something about it, I can help.

Windows binaries : very easy, as I work with Windows 10
Linux binary : You can use WSL, but you will have to use a Docker image in order to build the binary with an

[2019-11-19 12:45] Athorus commented on #40
@ozkriff, i will take a look.

[2019-11-20 10:39] Athorus commented on #40
@ozkriff as a game designer with Zemeroth, do you have some tips to give? It seems very difficult to create a small community and to interest some players. I know I will not be rich! :D

[2019-11-24 18:27] Athorus commented on #40
Sorry @ozkriff I've never done that before on github, so what should I do ?
Clone the repo on my computer ?
Then create a branch ?
Then what ?

Thanks.

[2019-11-24 20:30] zicklag commented on #40
@Athorus You can just click the little pencil icon at the top right of the rendered page on the link that @ozkriff posted above.

GitHub will create a fork and let you edit the file right on the website.

[2019-11-24 21:15] Athorus commented on #40
@ozkriff @zicklag I've just created a pull request for Le Train Dispatcher.

I forked, I changed files on my computer, I pushed and then I ask for a PR. Thanks for your help. :)

[2019-11-27 11:57] ozkriff commented on #40
Closed by #41

[2019-11-27 11:57] #40 closed

[2019-11-27 12:45] ozkriff commented on #38
Hmm, I don't think that ToC would improve the newsletter.

The newsletter has a pretty flat structure, so (as demonstrated in the PRs screenshots) we can't really show the full headers hierarchy, because it's just too big and can take more than a screen (especially on mobile devices). Alternative ToC that is limited to h2 headers just doesn't provide much useful information.

[2019-11-27 12:56] 17cupsofcoffee commented on #38
@ozkriff I will take no offense if my PR gets rejected, just wanted to provide an example of what it might look like :) Agree that it doesn't provide a ton of value if we can't show the the individual sections.

I'd like to extract the anchor links bit out into a separate PR though, as that seems more useful.

[2019-11-27 13:40] ozkriff commented on #40
@Athorus community-building? Ha, I wish I could tell you, but I'm not that experienced myself)

I dunno, start a public devlog and post smaller stuff to twitter (with `#rustlang #gamedev` tags, so it'd be easy to find and RT from twitter.com/rust_gamedev)? Also, your game feels nice in dynamics, so use more GIFs/videos :)

[2019-11-27 22:12] 17cupsofcoffee commented on #31
#42 would indirectly fix this (by virtue of Rewriting The Whole Dang Thing), if we decide to go that route.

[2019-11-29 21:33] #7 closed

[2019-11-30 16:22] 17cupsofcoffee commented on #31
With the updated tags from the Zola rewrite, the preview for a post now looks like this:

![image](https://user-images.githubusercontent.com/784533/69903074-f087c400-138c-11ea-801c-ae98b8f6d77c.png)

Main differences being that we have a higher-res image and more control over the text displayed. I've got it set up so that it'll display the [post summary](https://www.getzola.org/documentation/conte

[2019-11-30 17:38] ozkriff commented on #31
Awesome!

[2020-01-11 15:07] ozkriff opened #52 "Add favicon"

[2020-01-12 12:22] #52 closed

[2020-02-18 20:24] ozkriff opened #61 "Update to Zola 0.10"

[2020-03-01 15:31] ozkriff opened #64 "Newsletter 7: Coordination/Tracking"
~~I'm _hoping_ to publish the newsletter on 2019.03.03.~~
~~The newsletter will be published on 2019.03.04.~~
The newsletter will be published on 2019.03.**05** for sure.

If you want to help writing the newsletter:

- grab one of the "**free**" sections by leaving a comment like "I'd like to work on {section_name}".
- Write it :)
  - Use provided links as a starting point.
  - Try to maintain a c

[2020-03-01 15:41] 17cupsofcoffee commented on #64
Really like this format 😄 Hopefully it gets more people helping out.

I'll pick up writing the section for Lonely Star, if that's okay?

[2020-03-01 15:41] AngelOnFira commented on #64
I'll be doing Veloren, and I'll take another game update, say Antorum

[2020-03-01 16:10] AngelOnFira commented on #64
Taking Akigi

[2020-03-01 16:16] Skytrias commented on #64
I'd like to add a section about everpuzzle https://github.com/Skytrias/everpuzzle
even though i probably won't be able to release version 0.2 till the newsletter comes out i'd like to show the project of

[2020-03-01 16:32] 17cupsofcoffee commented on #64
As discussed on Discord, I'll also pick up the section about the AWGY updates 🙂

[2020-03-01 19:34] azriel91 commented on #64
Heya, I'll write something for the `specs` update, and add a link to my game's "Designing Network Play" blog post.

[2020-03-01 21:44] Uriopass commented on #64
I'd like to work on the `Scale` and `Ultimate Scale` updates.

[2020-03-02 15:50] PatrickHoward commented on #64
Hi! I can take on the savefile crate!

[2020-03-02 20:09] ozkriff commented on #64
Taking "Noodle Cat"

[2020-03-02 21:52] AngelOnFira opened #76 "Media formatting"
While trying to make a better way to show youtube videos, there was a discussion in #71. It was discussed that it is ideal to stay purely with markdown so that we can see what files look like directly from Github.

It would be nice to have content such as images and gifs be displayed in a bit of a cleaner way in the end product. A big one is centering images, as well as spacing around content. I t

[2020-03-02 22:15] 17cupsofcoffee commented on #76
![image](https://user-images.githubusercontent.com/784533/75722979-46913e00-5cd3-11ea-8e18-86d19dc704b2.png)

How does this look?

[2020-03-02 22:43] AngelOnFira commented on #76
@17cupsofcoffee Looks great! tbh wasn't 100% sure how I would execute, so :pray:

[2020-03-02 23:57] ozkriff commented on #64
Taking Robo.Instructus

[2020-03-03 00:35] AngelOnFira commented on #64
I've got some free time, so I'll grab

- shipyard
- crow 0.3
- patchwork
- KAS
- OXYGENGINE
- image v0.23

[2020-03-03 01:04] AngelOnFira commented on #64
@ozkriff I came across this while looking at crow. Might be worth adding?

https://github.com/lcnr/akari

[2020-03-03 01:07] ozkriff commented on #64
@AngelOnFira yeah. I think it's better to add this as a subsection of the "crow v0.3" section.

[2020-03-03 05:24] ozkriff commented on #64
Moved the planned release day:

[2020-03-03 16:46] 17cupsofcoffee commented on #64
I can pick up 'Fix Your Time Step in Rust and GGEZ' in a few hours, if no-one else wants it? Then all the items will be accounted for :)

[2020-03-05 15:28] ozkriff commented on #64
The final content PR is ready - #85 (_"Newsletter 7"_) - everyone is invited to review!

:timer_clock: Hope to merge this in a few hours if there're no objections!

[2020-03-05 19:42] ozkriff commented on #64
The newsletter is out! :tada:

https://rust-gamedev.github.io/posts/newsletter-007 ([twitter](https://twitter.com/rust_gamedev/status/1235645370350227456), [/r/rust](https://www.reddit.com/r/rust/comments/fe03sb/this_month_in_rust_gamedev_7_february_2020/))

Many thanks to all contributors and reviewers! 🦀

[2020-03-05 19:45] Wodann commented on #64
Well done on the newsletter, everyone. I think the tracking issue worked really well, @ozkriff. A good idea! 👏

[2020-03-05 20:26] Skytrias commented on #64
yea good job, everyone.

will every project always have to reintroduce itself each newsletter? takes a few paragraphs per project

[2020-03-05 21:19] PsichiX commented on #64
i think we could make it somethink like this: if project got introduced in previous newsletter, one could add a link to that project note.

Good idea?

[2020-03-06 12:22] ozkriff commented on #64
I've been trying to use big introductions only for projects that weren't mentioned in the newsletter before, otherwise use only a quick one-line reminder.

[2020-03-06 15:20] ozkriff commented on #76
Images look to be slightly off to the right now on mobile:

![image](https://user-images.githubusercontent.com/662976/76096447-2b764500-5fd7-11ea-8911-61e96a97f97a.png)

[2020-03-06 20:22] #76 closed

[2020-03-06 20:24] 17cupsofcoffee commented on #76
![image](https://user-images.githubusercontent.com/784533/76120004-79e00f80-5fe8-11ea-94b5-efdb1d684dc2.png)

Looks okay now :)

[2020-03-10 07:26] #64 closed

[2020-03-13 08:44] #61 closed

[2020-03-26 16:13] #38 closed

[2020-03-28 07:44] #31 closed

[2020-03-30 19:32] ozkriff opened #89 "Newsletter 8: Coordination/Tracking"
If you want to help writing the newsletter:

- grab one of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
- Write it :)
  - Use provided links as a starting point.
  - Try to maintain a consistent style with the rest of the newsletter, please.
  - Hard-wrap at 80 chars, please.
  - Use third-person pronouns even if you write abo

[2020-03-30 19:34] ozkriff commented on #64
Next! #89 (_"Newsletter 8: Coordination/Tracking"_)

[2020-03-30 19:52] 17cupsofcoffee commented on #89
Since their authors aren't tagged, I'll pick up:

* Quest Engine Part 2: Deploying Rust app on android
* const-tweaker
* assets_manager

I would also pick up netstack, but I don't fully understand what it does 😆 Networking is not my forte.

[2020-03-31 06:24] PatrickHoward commented on #89
I’ll take on net stack and rectangle pack!

[2020-03-31 08:58] Wodann commented on #89
I generally prefer not to engage in self-promotion, but I'd like to take on adding the [This month in Mun - February 2020](https://mun-lang.org/blog/2020/03/10/this-month-february/) blogpost - since it has been part of the newsletter.

[2020-03-31 18:25] asny commented on #89
I'll take three-d as suggested.

[2020-03-31 22:03] boringcactus commented on #89
I'll write up something for DynaMaze

[2020-03-31 23:13] Machine-Hum commented on #89
I'll write up something on realm.one, topic two please! :) Do you have a length suggestion?

[2020-04-01 15:52] ozkriff commented on #89
@Machine-Hum not sure, but a few paragraphs are usually enough to overview the updates.

[2020-04-01 17:47] seratonik commented on #89
I'll take on the For The Quest section :)

[2020-04-02 07:11] azriel91 commented on #89
I will take Will, and me shall take Amethyst.

(yes I tried :slightly_smiling_face:)

[2020-04-04 14:34] ozkriff commented on #89
Taking Urban Gift, Colony Genesis, Ascension 2, and pGLOWrpg sections.

[2020-04-05 01:07] stevebob commented on #89
I will take slime99

[2020-04-05 12:40] ozkriff commented on #89
Taking Sphere Game, Helix Repair, Akigi, and Nannou

[2020-04-05 18:11] a1phyr commented on #89
Hi ! Author of `assets_manager` here.
I plan to release a new version with hot-reloading tonight. Is there a deadline for this to include this in the newsletter ?

I'll make a PR to include it when it is released

[2020-04-05 19:48] ozkriff commented on #89
@a1phyr hey! Though the newsletter will be posted almost a week later, it's supposed to be a Match issue that covers only what happened in that month. News about your new release are supposed to be included in the 9th newsletter.

[2020-04-06 12:04] ozkriff commented on #89
Taking rustsim and bracket-lib.

[2020-04-06 12:07] ozkriff commented on #89
It'd be great to release the newsletter today in 5-8 hrs.

@AngelOnFira @not-fl3 @PatrickHoward @Machine-Hum @PsichiX, how're your sections going?

[2020-04-08 09:05] ozkriff commented on #89
The final PR!  #109 (_"Newsletter 8"_) - everyone is invited to review.

:timer_clock: Hope to merge this today +- at 15:00 UTC (in six hrs from now).

[2020-04-08 15:07] ozkriff commented on #89
https://rust-gamedev.github.io/posts/newsletter-008

Many thanks to all contributors and reviewers!

[2020-04-30 18:51] ozkriff opened #111 "Newsletter 9: Coordination/Tracking"
Feel free to suggest sections.

If you want to help writing the newsletter:

- grab one of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
- Write a short overview:
  - Use provided links as a starting point.
  - Try to maintain a consistent style with the rest of the newsletter, please.
  - Hard-wrap at 80 chars, please.
  - Use

[2020-04-30 18:52] ozkriff commented on #89
Next: #111 (_"Newsletter 9: Coordination/Tracking"_)

[2020-04-30 18:54] seratonik commented on #111
I'll take the For The Quest section again!

[2020-04-30 19:07] #89 closed

[2020-04-30 19:14] cdbattags commented on #111
I'll take Amethyst 4 (https://azriel.im/will/2020/04/24/browsers-assemble/)!

[2020-04-30 19:21] ozkriff commented on #111
@cdbattags note that Amethyst's section is supposed to be a list of items like https://rust-gamedev.github.io/posts/newsletter-008/#amethyst

[2020-04-30 19:43] Uriopass commented on #111
I'll take Citybound, A/B street and Scale :-) City sims are cool !

[2020-04-30 20:25] Dooskington commented on #111
I'll take the Ludum Dare 46 games section!

[2020-04-30 23:55] AngelOnFira commented on #111
:100: I'm good for Veloren, and I'll probably grab a few others tomorrow :ok_hand: :

[2020-05-01 22:39] azriel91 commented on #111
Heya, I'm *super* busy right now, but am asking in the Amethyst discord for help to write the content :memo:.

@cdbattags If you'd like to make a start (even just for Will), that would be helpful.

I may spare Sunday evening to review / amend the Amethyst content.

[2020-05-02 17:19] Machine-Hum commented on #111
I know it's not currently listed, but I could do something for realm.one by the end of this weekend :)

[2020-05-04 11:45] ozkriff commented on #111
Taking Colony Genesis, Life, Recall Singularity, Big AB Games, and ssshmup

[2020-05-04 17:07] ozkriff commented on #111
Ugh, I'm so slow.

Taking  "Measuring build timings with mathbench",  "A tutorial on/in/about/with 3D graphics, Rust, Vulkan, ash",  "Implementing a linear Quadtree in Rust",  "Multiple ECS in my personal game project",  "Simple 2Dcamera system for Rust with GGEZ", and "Symmetric Matrices & Triangle Numbers".

[2020-05-05 01:06] PatrickHoward commented on #111
I'll take on usfx, iced, and asset_manager!

[2020-05-05 03:35] azriel91 commented on #111
Taking on Amethyst games and library updates.

cc: @cdbattags

[2020-05-05 11:12] 17cupsofcoffee commented on #111
I'll take sarekt and the Godot section, if no-one else is picking those up.

[2020-05-05 14:20] ozkriff commented on #111
Grabbing "Our backend – Technology, surfman, turbulence-goggles-rlua, and Valora

[2020-05-05 17:51] 17cupsofcoffee commented on #111
Picking up bracket-lib and dathos-game-engine to round off the list 😄

[2020-05-06 07:28] ozkriff commented on #111
Yay, we're ready for the final PR!  #138 (_"Newsletter 9"_) - everyone is invited to review.

:timer_clock: Hope to merge this today +- at 17:00 UTC (in 10 hrs from now).

[2020-05-06 17:11] ozkriff commented on #111
https://rust-gamedev.github.io/posts/newsletter-009

Many thanks to all contributors and reviewers! :)

[2020-05-08 07:27] Wodann commented on #111
Nice work on the coordination again! 👏🏻

To reduce workload towards the end of the month, maybe it's an idea to open up the new coordination issue straight after releasing a new newsletter? Then people can start adding news throughout the month.

[2020-05-09 17:34] PatrickHoward commented on #111
I actually really like that idea, maybe have like a freeze date for when things can be added

[2020-05-16 13:28] ozkriff opened #139 "Newsletter 10: Coordination/Tracking"
Feel free to suggest sections.

If you want to help writing the newsletter:

- grab one of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
- Write a short overview:
  - Use provided links as a starting point.
  - Try to maintain a consistent style with the rest of the newsletter, please.
  - Insert line breaks ([softbreak](https:

[2020-05-16 13:41] ozkriff commented on #111
Done, sorry for the delay.

@Wodann Well, the first step of the newsletter creation workflow (see this repo's readme) says

so I was supposed to add a draft anyway for people to send PRs. If you think that creating an empty coordination issue will help, why not. I'll add an outline it in ~two weeks.

[2020-05-16 13:41] #111 closed

[2020-05-16 13:42] ozkriff commented on #111
Next: #139 (_"Newsletter 10: Coordination/Tracking"_)

[2020-05-26 17:08] AngelOnFira commented on #139
Excited for this month! Veloren had a big release :smiley:

[2020-05-28 18:47] kvark commented on #139
Where is the list of free sections?

For gfx-rs/wgpu this month I don't think we are going to share any updates. There is a lot going on in the pipeline, but no releases were made. cc @grovesNL

[2020-05-30 17:54] ozkriff commented on #139
📜 Updated the structure/list of sections!

[2020-05-30 17:55] seratonik commented on #139
I'll take care of For The Quest again :)

[2020-05-30 18:11] kunos commented on #139
I'll work on Sailing Simulator Prototype.. but I will need a little help to understand how this works.
Am I supposed to open a PR for this and write in the "Game Updates" section directly?
https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/content/posts/newsletter-010/index.md

I'll probably wait a bit to see some games in there and copy?

[2020-05-30 18:23] Lokathor commented on #139
Someone could add the [safe_arch 0.3 announcement](https://www.reddit.com/r/rust/comments/gjvyz8/safe_arch03_is_ready_for_some_tire_kicking/). I hope to already have a 0.4 out sometime during next month (avx2!), but the 0.3 post is relevant because I can still use more grunts to help with just the scale of the project (hundreds and hundreds of functions involved). Usability feedback (in terms of h

[2020-05-30 18:29] JMS55 commented on #139
Hi, I'd like to add a game I've been working on, [sandbox](https://github.com/JMS55/sandbox). It's a falling sand game like sandspiel or powder toy. [Here's some gameplay showcasing a few different elements](https://streamable.com/0bhbol). The streamable link dosen't provide the best quality though, so I'm open to suggestions on where to host the video.

I'll write and overview for it and submit a

[2020-05-30 18:34] ozkriff commented on #139
@kunos yep :) check PRs to the previous newsletters, like https://github.com/rust-gamedev/rust-gamedev.github.io/pull/128 for example

@Lokathor @JMS55 `safe_arch` and `sandbox` sections are added to the plan!

[2020-05-30 23:00] ecton commented on #139
Hey @ozkriff thanks for noticing my jam project, Cosmic Cantina. I ended up getting ill at the end and honestly bit off more than I could chew too. I'm still going to be doing the essence of that project, but it's on hold for now. If you want to point people at it feel free, but it's not really an actual game at the stage the code was left at lol

Once I've gotten a bit more about my new project u

[2020-05-31 01:30] koalefant commented on #139
I will take CrateBeforeAttack.

[2020-05-31 09:43] vallentin commented on #139
Thanks for the mention @ozkriff, I'd love to write an entry for my project. However, I'll earliest be able to do it and submit a PR on Wednesday.

[2020-06-01 09:20] jakmeier commented on #139
I'll try to come up with something about Paddlers by today or tomorrow. Thanks for the invite/mention!

[2020-06-02 20:46] ozkriff opened #150 "Jobs Section"
We don't have a policy regarding job offer posts yet and there was some negative feedback about the [job ads in previous newsletter issues](https://rust-gamedev.github.io/posts/newsletter-009/#dungeonfog-is-hiring).

_from the WG channel on Discord:_

So I propose adding an optional first-level "Jobs" section (between "Requests for Contribution" and "Bonus"). Any thoughts/opinions/objections? :)

[2020-06-02 20:46] ozkriff commented on #150
(Asking because I'd like to add https://www.elektron.se/rust-graphics-engineer/ to May's newsletter issue.)

[2020-06-02 22:49] 17cupsofcoffee commented on #150
I'm definitely in favour of having jobs in the newsletter, I think the only part people took issue with last time was putting it above the actual ecosystem news. Sticking it before the bonus section sounds good to me 👍

Prior art - TWIR also puts the job listings at the end, right before the quote of the week.

[2020-06-03 00:17] AlexEne commented on #150
+1 for having them towards the end like on TWIR posts.

[2020-06-03 07:16] ozkriff commented on #150
Those were highlighted in previous newsletter issues, right?

Btw, do we want to only show new openings or list all the actual ones?

I guess we can highlight new openings with a logo/summary and list already highlighted openings as one-liners.

[2020-06-03 07:22] ozkriff commented on #139
Taking "On FPS Game Progress" and "Stellary".

[2020-06-03 07:23] ozkriff commented on #139
@ecton removed the section from the current newsletter, ping me when you feel comfortable sharing about your project! :)

[2020-06-03 13:22] datalus commented on #150
I also think having them towards the end is better.

[2020-06-03 21:49] azriel91 commented on #139
Heya, I'll take Adding WASM Support to a Native Apps and Amethyst :v:

[2020-06-04 01:56] AngelOnFira commented on #139
I'll grab disescape.

[2020-06-04 08:34] AlexEne commented on #150
I probably have missed it. Yes, only new ones makes sense.

[2020-06-04 22:54] AlexEne commented on #150
Should we resolve this as it seems we have an agreement on how to add the job listings (at the end of the newsletter) ?

[2020-06-06 01:45] AngelOnFira commented on #139
I'll grab Akigi

[2020-06-06 08:23] ozkriff commented on #139
Taking "gfx-hal & vulkan basics", "Pong tutorial with ggez", "beehive", "rustsim survey", "safe_arch" and "svg_face".

[2020-06-06 10:04] #150 closed

[2020-06-06 11:37] 17cupsofcoffee commented on #139
Picking up 'cute-c2' and 'KAS v0.4'.

[2020-06-06 15:30] Ratysz commented on #139
I've released a useable version of my [`yaks`](https://crates.io/crates/yaks) library (minimalistic framework for automatic multithreading of [`hecs`](https://crates.io/crates/hecs) ECS via [`rayon`](https://crates.io/crates/rayon)), is this something that has a place in the newsletter? If so, what should I do to help with that?

[2020-06-06 15:59] ozkriff commented on #139
@Ratysz `yaks` was released today, right? Though the newsletter will be published a week later (shame on me, I'm bad at doing stuff at time), this is supposed to be a May issue that covers only what happened during that month. I've included yaks to the draft outline of the June newsletter. :)

[2020-06-06 16:02] Ratysz commented on #139
@ozkriff the new version was released like an hour ago, yes. I'll tackle it for the June issue at some point, then. Thanks!

[2020-06-06 16:06] ozkriff commented on #139
Taking "Mind's Eye", "datoh's Life", and "vkeyes-demo-rs".

[2020-06-06 23:30] AngelOnFira commented on #139
Taking "beehive", "safe-arch", "svg_face", "cute_c2", and "KAS GUI"

[2020-06-07 08:50] ozkriff commented on #139
@AngelOnFira nope, the Godot section is free atm

[2020-06-07 09:27] ozkriff commented on #139
Taking "bracket-lib & roguelike book", "Point of WebGPU on native", "Iced"

[2020-06-07 20:29] ozkriff commented on #139
Woo-hoo! We're ready for the final PR: #169 (_"Newsletter 10"_) - everyone is invited to review!

:timer_clock: Hope to merge this tomorrow +- at 17:00 UTC (in ~20 hrs from now).

[2020-06-08 19:03] ozkriff commented on #139
:tada: https://rust-gamedev.github.io/posts/newsletter-010 :tada:

A huge thanks to all contributors and reviewers! :)

[2020-06-08 19:15] leudz opened #170 "Newsletter 10 typo: Library & Tooling Updates link"
Hi, I think there is a typo in the link to the "Library & Tooling Updates" section of the table of contents.

https://rust-gamedev.github.io/posts/newsletter-010/#library--tooling-updates
Where it should be:
https://rust-gamedev.github.io/posts/newsletter-010/#library-tooling-updates

[2020-06-08 19:19] ozkriff commented on #170
Thanks! Fixed by ba71c5e6edeffeed68a713ad4c7bca0e77830fe8

[2020-06-08 19:19] #170 closed

[2020-06-08 19:44] ozkriff opened #172 "Newsletter 11: Coordination/Tracking"
Feel free to suggest sections!

If you want to help writing the newsletter:

- Grab one of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
- Mentions in brackets (like "🆓 **free** (@ozkriff ?)") are just an invitation to write the corresponding section if you want, but anyone is free to take it.
- Write a short overview:
  - Use

[2020-06-08 19:46] ozkriff commented on #139
Next coordination issue: #172 (_"Newsletter 11: Coordination/Tracking"_)

[2020-06-08 19:46] #139 closed

[2020-06-12 19:24] ozkriff opened #174 "Netlify previews for PRs"
Same as https://github.com/rust-gamedev/arewegameyet/issues/289

[2020-07-01 13:18] ozkriff commented on #172
:scroll: Updated the structure/list of sections!

[2020-07-01 13:22] Ratysz commented on #172
Taking `yaks`.

[2020-07-01 14:16] Uriopass commented on #172
Taking `Scale` :-)

[2020-07-01 15:52] ozkriff commented on #172
Taking Hypervis LDN talk, DOOM Fire, and 3D boids.

[2020-07-01 16:17] PatrickHoward commented on #172
I'll nab `GameLisp`, I'll take on more if there are still more sections open later.

[2020-07-01 16:31] netcan commented on #172
Taking `Animal Chess`

[2020-07-01 17:04] koalefant commented on #172
I will take `Crate Before Attack`.

[2020-07-01 17:06] dabreegster commented on #172
I'll send a PR for A/B Street later today. Thanks for organizing this!

[2020-07-01 19:06] jakmeier commented on #172
I don't have updates for Paddlers this month. At least nothing that's ready for presenting.
(The teaser was released on the last day of May and it has already been linked in the previous newsletter)

[2020-07-02 03:29] MasonRemaley commented on #172
I'll take `Way of Rhea`! :)

[2020-07-02 05:21] jayrave commented on #172
I am taking `runner`

[2020-07-02 07:18] sajattack commented on #172
I'll take rust-psp.

[2020-07-02 12:43] mkeeter commented on #172
I'll take Pont!

[2020-07-02 21:56] bitshifter commented on #172
I will write something about `glam` 0.9

[2020-07-02 23:49] EllenNyan commented on #172
forgot to leave a comment, took ellen's prototype

[2020-07-03 09:42] TanTanDev commented on #172
I'll take "Snake But I Made It For Keyboard" AND "A Mouseless Image Editor".

[2020-07-03 18:23] ozkriff commented on #172
Sorry for the delay with reviews. 14 PRs, wow!

[2020-07-03 19:14] ozkriff commented on #172
Taking zerotoga.me.

[2020-07-04 07:37] ozkriff commented on #30
https://github.com/marketplace/actions/markdown-linting-action

[2020-07-04 12:40] ozkriff opened #189 "CI: Add deadlink checks"
Related to #30 (_"CI: Add markdownlint check"_)

[2020-07-04 16:38] #30 closed

[2020-07-05 11:55] ozkriff commented on #172
Ping @bitshifter @PatrickHoward @not-fl3 @vallentin. How're your sections going?

[2020-07-05 14:32] PatrickHoward commented on #172
I'll have a PR for you in a few minutes

[2020-07-05 21:54] bitshifter commented on #172
@ozkriff PR opened for the glam stuff.

[2020-07-06 06:29] ozkriff commented on #172
Grabbing rs-type, HellBox's prototype, boundless, and Göld sections.

[2020-07-06 06:37] ozkriff commented on #172
Any volunteers to take any of the last three free sections? :)

[2020-07-06 13:11] vallentin commented on #172
@ozkriff been really busy, so haven't been able to see this before now.

If I can still make it, I'd be able to have a pull request ready within an hour. But to be fair, only added the SDFs and am working on GUI. So not much to add,

[2020-07-06 15:09] ozkriff commented on #172
Taking crystal-engine and NES

[2020-07-07 12:08] ozkriff commented on #172
The final PR: #200 (_"Newsletter 11"_) - everyone is invited to review!

:timer_clock: Hope to merge this today at ~18:00 UTC (in ~6 hrs from now).

[2020-07-07 19:02] ozkriff commented on #172
Woo-Hoo! :tada: https://rust-gamedev.github.io/posts/newsletter-011 :tada:

Huge thanks to all contributors and reviewers!

[2020-07-09 20:57] ozkriff opened #201 "Newsletter 12: Coordination/Tracking"
Feel free to suggest sections!

If you want to help writing the newsletter:

- Grab one of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
- Mentions in brackets (like "🆓 **free** (@ozkriff ?)") are just an invitation to write the corresponding section if you want, but anyone is free to take it.
- Write a short overview:
  - Use

[2020-07-10 08:36] #172 closed

[2020-07-28 13:08] ozkriff commented on #172
Next coordination issue: #201 (_"Newsletter 12: Coordination/Tracking"_)

[2020-07-28 13:08] ozkriff commented on #201
📜 Updated the structure/list of sections!

[2020-07-28 13:37] ozkriff commented on #201
Does anyone know if there's a list of rusty GMTK games somewhere or something like it?

[2020-07-28 16:00] icefoxen commented on #201
I'd like to work on `Library & Tooling Updates  - Langcraft`

[2020-07-28 17:28] kettle11 commented on #201
I'll take `Making a Game in 48 hours with Rust and WASM`. Thanks for including it!

[2020-07-28 23:59] septum commented on #201
I'd like to work on `Pushin' Boxes`!

[2020-07-29 17:23] roalyr commented on #201
I am taking (post-factum) `pGLOWrpg`

[2020-07-30 19:44] mtkennerly commented on #201
Hey, I can try writing up something for Ludusavi.

[2020-07-30 22:40] septum commented on #201
Also taking ` Voxel game prototype`.

[2020-07-31 09:41] iolivia commented on #201
Will take a look at the ones assigned to me later today!

[2020-08-03 07:00] ozkriff commented on #201
Ugh, the weekend wasn't nearly as productive as I planned. Well, ok, I'll be working on the newsletter all day today - the release is tomorrow. :)

[2020-08-03 07:47] atil commented on #201
I'll take On FPS Game Progress: #2

[2020-08-03 17:05] ozkriff commented on #201
Taking "Rust'N'Games by Stephan Dilly" and "Make Pong With RUST"

[2020-08-04 09:23] ozkriff commented on #201
Grabbing "ochre 4k intro", "A/B Street", "protochess", "Nox Futura", and "shotcaller".

[2020-08-04 16:15] ozkriff commented on #201
Taking "A Servo plugin for Unity", "big-brain", "weasel v0.8", "vec2d & cyclone2d", "naia"

[2020-08-05 22:54] ozkriff commented on #201
The final PR: #229 (_"Newsletter 12"_) - everyone is invited to review :)

[2020-08-06 16:29] ozkriff commented on #201
The newsletter has made it through its first year! Woo-Hoo!!!

:tada: https://rust-gamedev.github.io/posts/newsletter-012 :tada:

Huge thanks to all contributors and reviewers!

[2020-08-07 13:56] icefoxen opened #231 "Consider for next news letter: Rust gamedev interviews"
https://rustgamedev.com/episodes  Saw this and was surprised that it wasn't included in the newsletter already, then realized it was brand new.  Haven't actually listened to it yet though, so maybe it's not good.  XD  Will listen to it and see how it is.

[2020-08-08 17:19] ozkriff opened #232 "Newsletter 13"
Feel free to suggest sections!

If you want to help writing the newsletter:

- Grab one of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
- Mentions in brackets (like "🆓 **free** (@ozkriff ?)") are just an invitation to write the corresponding section if you want, but anyone is free to take it.
- Write a short overview:
  - Use

[2020-08-08 17:21] ozkriff commented on #201
Next coordination issue: #232 (_"Newsletter 13"_)

[2020-08-08 17:21] #201 closed

[2020-08-09 19:54] ozkriff opened #233 "Custom Domain"
The newsletter survived its first year so I hope this site is here to stay. it's time to finally rent a "real" domain, I guess.
This question has been raised a few times on WG's discord, but I don't recall any specific decisions/conclusions from them.
The best free URL that comes to my mind is https://game-dev.rs - what do you think?

_Somewhat related to https://github.com/rust-gamedev/arewegamey

[2020-08-09 20:00] ozkriff commented on #232
@icefoxen (https://github.com/rust-gamedev/rust-gamedev.github.io/issues/231):

[2020-08-09 20:01] ozkriff commented on #231
Moving to the next newsletter's coordination issue.

[2020-08-09 20:01] #231 closed

[2020-08-09 21:38] zicklag commented on #233
I like game-dev.rs :+1:.

[2020-08-10 09:52] AlexEne commented on #233
Sounds good to me. One thing to consider maybe would be setting up some kind of opencollective so we can share the cost of these things as they add up.

[2020-08-10 13:08] icefoxen commented on #233
If we're bikeshedding, I'd like to put forward `gamedev.rs`, without the hyphen, though that's purely to make my OCD happy.  Official WG might also be able to help with coordinating funding and stuff, I'd happily donate for a domain.

[2020-08-10 13:20] 17cupsofcoffee commented on #233
I believe `gamedev.rs` is [taken](https://who.is/whois/gamedev.rs), unfortunately 😢

Some other free .rs URLs:

* `rustgamedev.rs` and `rust-gamedev.rs` (bit redundant, but the latter matches the GitHub org name)
* `gamedevelopment.rs` (bit too long...)

I'd also be willing to chip in towards a domain, whether that's by OpenCollective or just a PayPal pool or whatever.

[2020-08-10 13:21] ozkriff commented on #233
@icefoxen I'd prefer gamedev.rs too, but it seems to be already taken by someone. Though, the variant with dash looks not that bad to me. And we have a dash in out current url anyway)

It'd be great, but I'm not sure that I want to volunteer to do this atm. Also, [my humble personal patreon](https://patreon.com/ozkriff) covers current domain expenses.

[2020-08-10 13:28] ozkriff commented on #233
Another interestig free(?) URL is `rustgame.dev`, but I'm not sure how I feel about it)

[2020-08-10 14:13] kvark commented on #233
I'm strongly in favor of `gamedev.rs` followed by `game-dev.rs`. Looking at `rustgame.dev` it's not consistent with other rusty sites, and it may easily read as "development of Rust game", which is what we want to avoid :)

[2020-08-11 20:51] kettle11 commented on #233
I've had some luck in the past emailing people to see if they're up for selling their domain to a small developer. If they aren't a monolithic soulless entity maybe the owner would be willing to sell for a reasonable price.

Of course it's a long shot, it's not worth entirely ruling out registered Urls like `gamedev.rs`

[2020-08-16 17:08] ozkriff commented on #233
Emailed the owner of gamedev.rs. Most likely they will either ignore or decline the request but let's try.

[2020-08-25 15:56] adv0cat commented on #233
devgame.rs
Your domain is available!

[2020-08-25 15:58] adv0cat commented on #233
`rustgame.dev`
Your domain is available!

[2020-08-26 17:32] zicklag commented on #233
Sounds a little too much like its a *game* about *development*, not that it's about *game development*.

[2020-08-29 13:50] ozkriff commented on #232
📜 Updated the structure/list of sections!

[2020-08-29 14:02] Uriopass commented on #232
I'll take Egregoria :-)

[2020-08-29 14:16] BezPowell commented on #232
Happy to write a bit about blitz-path, I'm honoured you want to include it.

[2020-08-29 14:17] rtsuk commented on #232
It might be better to wait to list Crankstart until the Playdate SDK is generally available. Right now it not usable by anyone who isn't in the closed developer program.

[2020-08-29 14:17] jojolepro commented on #232
Taking: Event Chaining as a Decoupling Method in ECS
Could we also add Minigene inside of the Library & Tooling Updates section? https://github.com/jojolepro/minigene (updating the readme with more details soon)

[2020-08-29 14:24] OptimisticPeach commented on #232
I'd be happy to write a small bit on `hexasphere`.

[2020-08-29 14:25] tigleym commented on #232
I'd be happy to work on: "Roguelike with Amethyst" talk + blog posts .

[2020-08-29 14:48] cwfitzgerald commented on #232
Unfortunately shader-types is fundamentally broken, and I would advice everyone not to use it. 😢

[2020-08-29 15:01] stevebob commented on #232
Happy to write about "chargrid rl tutorial 2020"

[2020-08-29 16:00] ecton commented on #232
@ozkriff I completed a game jam this past month and [just posted a retrospective](https://community.khonsulabs.com/t/chillscapes-retrospective-and-kludgine-update/28). If you don't mind, I'd love to write a short blurb in the Game Updates section. Figured I'd ask before sending in an unannounced PR!

[2020-08-29 16:23] ozkriff commented on #232
@cwfitzgerald oh, ok, removed shader-types from the plan.

@rtsuk :ok_hand: sure, removed Crankstart from the current newsletter -  ping me when the SDK is released!

@jojolepro @ecton great! Added Minigene and Chillscapes sections to the plan!

[2020-08-29 18:15] icefoxen commented on #232
I wrote up a quick thing on RustGameDev Podcast, for the second episode.  PR #234 Just added it in the "learning materials" section, but it's listed in the main issue as having its own section... where do we want to put it?

[2020-08-29 22:21] cart commented on #232
I'll work on Bevy!

[2020-08-29 22:50] bonsairobo commented on #232
I'll write about the smooth voxel stuff.

[2020-08-30 01:24] PENGUINLIONG commented on #232
will take `spirq` and `inline-spirv`. thx!

[2020-08-30 02:03] eloraiby commented on #232
Will be glad to write about NeoCogi's libs :)

[2020-08-30 10:39] Jasper-Bekkers commented on #232
I just saw I got mentioned here for `rspirv-reflect`, I can definitely write something about that, thanks!

[2020-08-30 14:33] bugzmanov commented on #232
Just noticed this, I'd be happy to write on "Writing NES Emulator in Rust"

[2020-08-30 19:07] JMS55 commented on #232
I'll do Sandbox

[2020-08-30 19:20] sebcrozet commented on #232
I will take Dimforge and Rapier!

[2020-08-31 07:55] emilk commented on #232
Thanks for the Egui mention - I've made a PR for it.

[2020-08-31 10:02] MR2011 commented on #232
I'll write about wowAddonManager

[2020-09-01 13:30] Wodann commented on #232
Opened PR #250 to include Mun's updates in the newsletter

[2020-09-02 03:05] AlexApps99 commented on #232
Hello, I was recommended to submit this snippet of code for inclusion in the newsletter by @workingjubilee
It's an example on how to use custom panic hooks and allocation error hooks to handle panics and OOM gracefully.
[How to cleanly handle panics and OOM in a GUI application](https://users.rust-lang.org/t/how-to-cleanly-handle-panics-and-oom-in-a-gui-application/48192)

[2020-09-02 17:57] Lokathor commented on #232
### Library & Tooling Updates
* [yacurses](https://docs.rs/yacurses) is newly released this month! It's a cross-platform curses bindings crate that's small, simple, easy to understand, and most importantly safe to use.  It wraps over `ncurses` on Unix and a bundled `pdcurses` on Windows. If you're looking to make a terminal-based roguelike (or any other terminal-based game), give it a try.

[2020-09-02 18:56] Jazarro commented on #232
I'll write something for `Dwarf Seeks Fortune`.

[2020-09-02 20:51] dabreegster commented on #232
Sorry for the slow response again. :(  If the deadline is still this Saturday, I can write something for A/B Street by then.

[2020-09-03 04:48] mkhan45 commented on #232
Hey, sorry I missed this. I'll try writing something for SIMple Physics

[2020-09-03 10:25] bvssvni commented on #232
I'll write something about Piston updates, Nano-ECS and UI experiments.

[2020-09-03 10:36] ozkriff commented on #232
@AlexApps99 sure! Added to the plan; feel free to send a PR.

[2020-09-03 18:23] mkhan45 commented on #232
If possible could you add [SIMple Mechanic's good first issues](https://github.com/mkhan45/SIMple-Mechanics/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22) to the requests for contribution section?

[2020-09-04 06:56] ozkriff commented on #233
Yep, they're silent so far. :(

Ok, so I'm buying game-dev.rs and moving the site to it this weekend if there're no objections or better ideas, ok?

[2020-09-04 09:11] ozkriff commented on #233
:thinking: https://gdev.rs ?

[2020-09-04 10:01] Wodann commented on #233
game-dev.rs sounds good to me. So far it seems like the best alternative to gamedev.rs

[2020-09-04 15:17] Friz64 commented on #233
As @dasifefe suggested on the Rust Gamedev discord, there's also https://gamedevelopment.rs, which i quite like. Otherwise i would prefer https://game-dev.rs too.

[2020-09-04 16:07] ozkriff commented on #233
https://gamedevelopment.rs in my opinion is so long that it defeats the purpose of migrating from the current address

[2020-09-04 16:09] Friz64 commented on #233
Fair enough :thinking:

[2020-09-04 17:15] ozkriff commented on #233
Judging by today's feedback on the Discord chats there're quite a few people who really don't like this damn hyphen))

Well, another option is to just postpone all this custom domain stuff and live with our current https://rust-gamedev.github.io URL until a really cool domain name idea comes along that we all agree upon.

[2020-09-04 17:56] 17cupsofcoffee commented on #233
Worst comes to worst, we can try to grab `gamedev.rs` on 15th July 2021, assuming they let it expire 😛

![image](https://user-images.githubusercontent.com/784533/92271788-525af880-eee0-11ea-9e19-f3e372226dbe.png)

[2020-09-04 22:49] AlexApps99 commented on #232
@ozkriff on second thought, although the example seems to work, rust-lang/rust#51245 points out that alloc functions are annotated with `#[rustc_allocator_nounwind]`, so it could potentially lead to bugs or undefined behavior.
It doesn't seem to affect Desktop platforms, but I would prefer not to recommend this until it is 100% safe.

[2020-09-05 07:47] ozkriff commented on #232
@AlexApps99 :ok_hand:

[2020-09-06 20:38] ozkriff opened #269 "Proper style guide/contributing guidelines"

[2020-09-06 22:01] ozkriff commented on #232
Grabbing akigi, ecs_bench_suite, Amethyst, mochi, optik-rs, sia, aaand intellij-ron.

[2020-09-07 18:10] ozkriff commented on #232
The final PR: #274 (_"Newsletter 13"_) - everyone is invited to review :)

[2020-09-07 21:25] ozkriff commented on #232
:tada: https://rust-gamedev.github.io/posts/newsletter-013 :tada:

This issue was written by more than 30 people, that's crazy! :-D
Huge thanks to all contributors and reviewers, you are awesome!

[2020-09-12 08:04] ozkriff opened #277 "Add more crosslinks with AWGY (or even merge?)"

[2020-09-12 08:14] ozkriff commented on #24
@AlexEne @erlend-sh @kvark hey, wg leads, do you know anyone we can ask about getting a group/official inbox for this thing?

[2020-09-12 08:44] erlend-sh commented on #24
I’m not aware of any official service offer here. Amethyst org would be happy to sponsor such a thing though. It seems we’re at most talking about $10/month for something like Mailchimp?

[2020-09-12 10:28] 17cupsofcoffee commented on #24
I did a writeup of the costs of different services here: https://github.com/rust-gamedev/rust-gamedev.github.io/issues/24#issuecomment-537960781

Last time we looked at this though, the main issue wasn't the cost of the emails, it was the requirement to provide a physical mailing address in every email (which is due to anti-spam legislation, I think). That'd require us to either:

* Use one of our

[2020-09-12 11:25] AlexEne commented on #24
Yes, the main blocker wasn't the subscription, but the requirement of a real and valid ;) mail address. This one has to be included in all newsletters at the bottom somewhere so using any of our personal ones isn't necessarely the best idea.

I'd propose we list some PO box prices in our countries and go for the cheapest one. I'm in the UK and Royal Mail is a bit pricey but there are some private

[2020-09-12 13:01] ozkriff opened #278 "Newsletter 14"
Feel free to suggest sections!

If you want to help writing the newsletter:

- Grab one of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
- Mentions in brackets (like "🆓 **free** (@ozkriff?)") are just an invitation to write the corresponding section if you want, but anyone is free to take it.
- Write a short overview:
  - Use p

[2020-09-12 13:03] ozkriff commented on #232
Next coordination issue: #278 (_"Newsletter 14"_)

[2020-09-12 13:03] #232 closed

[2020-09-17 16:51] ozkriff commented on #24
Haven't used them so far, but PO boxes for individuals in my city (SPb) [seem to cost around 3$/mo (and 5$/mo for named ones)](https://abox.pochta.ru/cabinet/popup/DocTarifUI).

[2020-10-01 17:55] ozkriff commented on #278
📜 Updated the structure/list of sections!

[2020-10-01 18:12] krupitskas commented on #278
I'd like to take An OpenGL preprocessor for Rust (1)

[2020-10-01 18:13] adamnemecek commented on #278
I'll take femtovg.

[2020-10-01 18:33] Terkwood commented on #278
I will submit an update about BUGOUT. ⚫⚪🐛

Thank you.

On Thu, Oct 1, 2020, 13:54 Andrey Lesnikóv <notifications@github.com> wrote:

[2020-10-01 19:24] LPGhatguy commented on #278
I can submit updates about my tagged libraries here!

[2020-10-01 20:14] troligtvis commented on #278
I will add my progress of my game in the Bevy section :)

[2020-10-01 20:43] miolad commented on #278
Hi, i'm the author of [this](https://www.reddit.com/r/rust_gamedev/comments/ixocl2/real_time_diffuse_global_illumination_for_static/) demo, and I've been proposed to add an entry in the newsletter about it, count me in!

[2020-10-01 22:19] roalyr commented on #278
I will write about pGLOWrpg.

[2020-10-02 00:00] vickles commented on #278
I'll write about riddle

[2020-10-02 07:43] cdsupina commented on #278
@tigleym and I would like to write a game update section on the progress made on space_shooter_rs.

[2020-10-03 03:28] hugopeixoto commented on #278
I'll write the update for "Rust, gamedev, ECS, and bevy"

[2020-10-03 14:08] thebracket commented on #278
I'd be willing to contribute an update for Nox Futura, a small update for bracket-lib, and ideally sneak in a mention of the book I'm about to release (I should be NDA free by the time this is due, if not it'll have to wait a month).

[2020-10-03 14:34] andii1701 commented on #278
I'll write up my own game, Tetris Bane

[2020-10-05 07:42] ozkriff opened #302 "Shared assets directory"
@17cupsofcoffee:

@ozkriff:

(comments from https://github.com/rust-gamedev/rust-gamedev.github.io/pull/292/)

[2020-10-05 08:12] ozkriff commented on #278
Ping @AngelOnFira @not-fl3 @thebracket @termhn  - how're your sections going? :)

[2020-10-05 08:18] ozkriff commented on #278
Btw, are there any volunteers to take some of the sections that are still free?

[2020-10-05 11:55] AngelOnFira commented on #278
@ozkriff I have a decent amount of time today, most of them look like they're free with someone that might do it. Can you assign, say 3, to me?

[2020-10-05 12:59] thebracket commented on #278
My plan is to get something put together today. I presented at the
Roguelike Celebration this weekend, so that ate *all* my time.

On Mon, Oct 5, 2020 at 3:13 AM Andrey Lesnikóv <notifications@github.com>
wrote:

[2020-10-06 08:54] ozkriff commented on #278
Grabbing "Garden", "galangua", "Threading WGPU Resource Loading with Rayon", and "So you want to live-reload Rust".

[2020-10-07 06:21] ozkriff commented on #278
Also taking "legion", "fontdue", "ultraviolet", "rust-wasm-hotreload", and "godot-rust".

[2020-10-07 21:55] ozkriff commented on #278
The final PR: #313 (_"Newsletter 14"_) - everyone is invited to review!

[2020-10-08 00:16] zicklag commented on #24
In the interim we could suggest that people can subscribe to the forum topic where @ozkriff has been posting the newsletters:

https://users.rust-lang.org/t/this-month-in-rust-gamedev/45520?u=zicklag

[2020-10-08 00:29] ozkriff commented on #278
https://rust-gamedev.github.io/posts/newsletter-014 :tada:

As always, huge thanks to all contributors and reviewers! :crab::crab:

[2020-10-09 16:47] #278 closed

[2020-10-26 15:53] 17cupsofcoffee commented on #269
A few thoughts on this:

* The section template you've made in https://raw.githubusercontent.com/rust-gamedev/rust-gamedev.github.io/source/newsletter-template.md is good! It could be a good idea to either add it to the README or your coordination issues each month so that people can't miss it.
* Similarly, could be good to list the full set of things that `markdownlint` enforces in the README/coo

[2020-10-27 07:17] ozkriff commented on #269
Sounds reasonable. I'm working on `CONTRIBUTING.md` with a compilation of all the style stuff and `.github/PULL_REQUEST_TEMPLATE.md` with a link to it.

[2020-11-01 19:34] #269 closed

[2020-11-01 19:58] ozkriff opened #320 "Newsletter 15"
Feel free to suggest sections!

If you want to help writing the newsletter:

- Read **[CONTRIBUTING.md](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md)**.
- Grab some of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
- Mentions in brackets (like "🆓 **free** (@ozkriff?)") are just an invitation

[2020-11-01 20:00] ozkriff commented on #278
Next coordination issue: #320 ("Newsletter 15")

[2020-11-01 20:14] walterpie commented on #320
Hey, as the creator of physme I'd love to write a short overview of what it's for and what it's not for and why I made it.

[2020-11-01 20:16] casperstorm commented on #320
I'll happily write about Ajour. I'll get it done by tomorrow.

[2020-11-01 20:27] Dooskington commented on #320
Will write about the October updates for my project Antorum Online.

[2020-11-01 20:38] cdsupina commented on #320
@tigleym and I will write an update on space_shooter_rs.

[2020-11-01 20:38] ecton commented on #320
I'd love to write about my game, The Honor Sagas. Thank you again for the invite.

[2020-11-01 20:42] sajattack commented on #320
Can we add a section for a rust-psp update? I got tetris running with it :smile:

[2020-11-01 21:21] ReeCocho commented on #320
I'd like to write a bit about my game Camp Misty. Thank you for the invite!

[2020-11-01 21:24] roalyr commented on #320
Game updates, pGLOWrpg #315

[2020-11-01 21:50] bitshifter commented on #320
A made a new release of `glam` a couple of days ago with of few new features of note, I'd like to add a short note about that if possible :)

[2020-11-01 23:39] tuzz commented on #320
I'm happy to write a quick introduction for my puzzle-platform game.

[2020-11-02 01:04] therocode commented on #320
I'll add my rust+SDL2+opengl+emscripten, cheers for the ping 👍

[2020-11-02 03:10] junkmail22 commented on #320
Hi, I'm here again and I'm planning to write another update for Project YAWC which actually includes contact info and links to pages.

[2020-11-02 03:41] PatrickHoward commented on #320
I'll take on a section on Proton!

[2020-11-02 04:29] AngelOnFira commented on #320
@ozkriff Akigi isn't on there under the game section, but I'll take it :smiley:

[2020-11-02 12:22] logicsoup commented on #320
Hi, I’d like to write the Garden update.

[2020-11-02 16:41] icefoxen commented on #320
I'd like to make an update for ggez, since I'm trying to get a new release done before the end of the year and want to drum up interest/contributions.  However, I'm also not sure whether this is too early, since I don't have a whole lot actually done for the update yet.  Anyone have thoughts or opinions?

[2020-11-04 13:13] ozkriff commented on #320
Taking "galaxy-sim.github.io", "LudumDare 47", and "Rust FFI: Microsoft Flight Simulator SDK".

[2020-11-05 16:07] AngelOnFira commented on #320
I'll take Rust GPU as it looks as it hasn't been picked up yet

[2020-11-05 20:37] jam1garner commented on #320
I can do "Rust for Modding Smash Ultimate"

[2020-11-05 20:50] profan commented on #320
I'd like to nab a section for a game I'm working on being made with macroquad called "rymd", thanks! (@not-fl3 sent me here, hi)

[2020-11-06 06:55] bonsairobo commented on #320
I'll take the building-blocks section.

[2020-11-06 12:46] sebcrozet commented on #320
If it is not too late, I took the `Dimforge` section. Though to make the section more precise, I added a `Rapier` section instead of `Dimforge`. I hope this is OK.

[2020-11-07 10:12] ozkriff commented on #320
Ping @walterpie @bonsairobo @Twister915 - how're your sections going? :)

[2020-11-07 12:31] walterpie commented on #320
Sorry for the quietness. I work all week and have no time for anything. I'll have it finished by today, in at most 7 hours

[2020-11-07 16:48] bonsairobo commented on #320
@ozkriff Sorry about the delay. Working on it now, should be done today. I just have to cut another release for building-blocks, write a quick release post, then I'll bundle it into the newsletter.

[2020-11-08 07:36] ozkriff commented on #320
@walterpie @bonsairobo no worries, I'm struggling to find time for the newsletter myself :) Hope to finish it today though.

[2020-11-08 11:37] ozkriff commented on #320
Taking "shared-arena", "gbemu",  and "fastnbt & fastanvil".

[2020-11-08 17:45] ozkriff commented on #320
Taking "density-mesh" and "mcproto".

[2020-11-09 07:40] ozkriff commented on #320
The final PR: #361 (_"N15: Release"_) - everyone is invited to review!

[2020-11-09 18:26] ozkriff commented on #320
https://rust-gamedev.github.io/posts/newsletter-015 :tada:

As always, huge thanks to all contributors and reviewers! :crab::crab::crab:

[2020-11-10 17:08] #320 closed

[2020-11-30 16:58] ozkriff opened #365 "Newsletter 16"
Feel free to suggest sections!

If you want to help writing the newsletter:

- Read **[CONTRIBUTING.md](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md)**.
- Grab some of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
- Mentions in brackets (like "🆓 **free** (@ozkriff?)") are just an invitation

[2020-11-30 17:07] Ratysz commented on #365
Taking "ECS scheduler thoughts, pt1"

[2020-11-30 17:11] Dooskington commented on #365
I’ll do the Antorum update section.

[2020-11-30 17:15] icefoxen commented on #365
I should do another ggez update!

[2020-11-30 17:19] Lowentwickler commented on #365
I'll take dotrix

[2020-11-30 17:20] djkoloski commented on #365
I'd like to write about rkyv.

[2020-11-30 20:00] aclysma commented on #365
I can write something for profiling

[2020-11-30 20:40] patchfx commented on #365
I'll pick up the podcast

[2020-12-01 04:23] sotrh commented on #365
I'll take "Learn Wgpu News (1)"

[2020-12-01 08:06] guimcaballero commented on #365
I'll take "Chess game in Rust using Bevy"

[2020-12-01 08:14] bmatthieu3 commented on #365
i will write something about rib

[2020-12-01 11:53] ozkriff commented on #302
Aaaand this breaks Zola builds.

Is there a way to have shared assets that will work both in normal MD previews and Zola builds?

[2020-12-01 14:30] profan commented on #365
I'll do rymd 👍

[2020-12-01 15:05] hecrj commented on #365
I can write the `iced` update.

[2020-12-01 15:46] IanTayler commented on #365
I'll take FBSim

[2020-12-01 20:36] tesselode commented on #365
i'll take kira!

[2020-12-01 22:03] bitshifter commented on #365
I will add a `glam` update.

[2020-12-02 06:18] aldidana commented on #365
#379

[2020-12-02 06:21] aldidana commented on #365
I added `F1 Telemetry TUI`

[2020-12-02 07:52] mockersf commented on #365
I'll take bevmnist

[2020-12-02 16:38] cedric-h commented on #365
![image](https://user-images.githubusercontent.com/25539554/100902267-b9ae2780-3492-11eb-957e-3f81667e03cf.png)
I would like to write a little something about my work in progress RPG made in Rust.

[2020-12-03 03:03] cdsupina commented on #365
@tigleym and I will write about space_shooter_rs

[2020-12-03 08:48] dns2utf8 commented on #365
I did write a follow up to my talk "How to  build a multiplayer game":
https://estada.ch/2020/11/2/how-to-build-a-multiplayer-game-rustfest-global-2020-pre-event/

Is that what you had in mind?

[2020-12-03 11:44] Ratysz commented on #365
I think [`cargo-mobile`](https://dev.brainiumstudios.com/2020/11/24/cargo-mobile.html) announcement should be in the newsletter. @francesca64?

[2020-12-03 14:21] thebracket commented on #365
I'll get you something for *Hands-On Rust* today.

[2020-12-04 13:34] ozkriff commented on #365
@dns2utf8 kinda, though newsletter sections are usually more like a short overview (in a few sentences) of the links themselves.

[2020-12-05 00:09] francesca64 commented on #365
@Ratysz thanks! I'll make a PR.

[2020-12-05 01:04] francesca64 commented on #365
Also, winit needs a new web maintainer (rust-windowing/winit#1777). Is this something the newsletter could signal boost?

[2020-12-05 03:17] aclysma commented on #365
Sounds like a good idea to me. I think the imgui crate is in a similar situation.

[2020-12-05 04:35] ozkriff commented on #365
Sure, feel free to add a section about it!

[2020-12-06 13:53] ozkriff commented on #365
Ping @cedric-h @bitshifter @hecrj, how're your sections going? :) Hope to finish the final draft today.

[2020-12-06 14:46] hecrj commented on #365
@ozkriff I should be able to open a PR in the next couple of hours.

[2020-12-06 15:19] AngelOnFira commented on #365
@ozkriff I'm going to take some sections that still seem open: Akigi, Terramach, and Fluff for now.

[2020-12-07 13:45] sebcrozet commented on #365
I'm going to take dimforge/rapier. Doing it right now.

[2020-12-07 22:47] ozkriff commented on #365
Taking "Why Rust is the Future of GameDev", "How to build a multiplayer game", "egui", "Another World Suite", and "Old Gods",

[2020-12-08 11:37] grzi commented on #365
Hello, I'll take GameOff 2 and add GameOff 3 also (A third game in rust submitted for Gameoff)

[2020-12-08 21:47] ozkriff commented on #365
The final PR: #404 (_"N16: Release"_) - everyone is invited to review!

[2020-12-09 00:14] ozkriff commented on #365
:tada: https://rust-gamedev.github.io/posts/newsletter-016 :tada:

Huge thanks to all contributors and reviewers! :crab::crab::crab:

[2020-12-09 00:17] kvark commented on #365
You made it! Thank you for all the hard work @ozkriff !

[2020-12-09 13:17] emilk commented on #365
Thanks for taking on Egui - I was a bit too busy this week to do it myself! ❤️

[2020-12-30 00:27] martin-t opened #406 "Separate category for engines vs libraries/tools"
There are more and more rust engines popping up and the Library & Tooling Updates category is getting quite full, mixing big fully-featured engines with small purpose-build libraries. Have you considered splitting it into 2 categories - one for engines, another for tools and small libraries?

[2021-01-03 16:06] #365 closed

[2021-01-03 22:05] ozkriff opened #408 "Newsletter 17"
Feel free to suggest sections!

If you want to help writing the newsletter:

- Read **[CONTRIBUTING.md](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md)**.
- Grab some of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
- Mentions in brackets (like "🆓 **free** (@ozkriff?)") are just an invitation

[2021-01-03 22:16] PsichiX commented on #408
getting raui/oxygengine for tomorrow :D

[2021-01-03 22:53] MoleTrooper commented on #408
I'll add a bit about the recent [starframe](https://github.com/moletrooper/starframe) [physics improvements](https://twitter.com/moletrooper/status/1338066680724008960) if it's cool :)

[2021-01-03 23:21] Dooskington commented on #408
Will take care of the Antorum section some time tonight ⚔️

[2021-01-03 23:52] ekzhang commented on #408
Thanks, I can add a short section about rpt. 🙂

[2021-01-04 01:38] cart commented on #408
I'll take bevy!

[2021-01-04 02:54] dabreegster commented on #408
I'll write up A/B Street & 15m Santa

[2021-01-04 03:23] PENGUINLIONG commented on #408
Will take SPIR-Q!

[2021-01-04 08:41] Lowentwickler commented on #408
I take dotrix!

[2021-01-04 09:39] alula commented on #408
I take d-rs

[2021-01-04 11:47] chinedufn commented on #408
I'll take Akigi

[2021-01-04 12:29] XAMPPRocky commented on #408
I'll take rust-gpu 0.2

[2021-01-04 14:34] serprex commented on #408
Fun thing about the openEtG Rust/JS rewrite is that the following month I rewrote the server from node.js into Rust

https://github.com/serprex/openEtG/commit/e26a92eab81dbb53f247a2a6040a7491e727ee62

Ended up adding 2k lines to project, so not as much a 1:1 rewrite

[2021-01-04 17:22] expenses commented on #408
I'll have a go at writing a piece for cheese : )

[2021-01-04 18:15] Uriopass commented on #408
I'll take Egregoria :cityscape:

[2021-01-04 22:09] septum commented on #408
I'll take re-creating a retro screensaver and Nannou: creative coding with Rust

[2021-01-04 22:54] danbugs commented on #408
I'd like to work on "Build the Pikachu game in Rust" section from the Learning Material Updates.

[2021-01-04 23:23] pablodiegoss commented on #408
I'll take the game scripting for legion thesis :D

[2021-01-05 13:36] puppetmaster- commented on #408
I´ll take **Vollmond** in "Game Updates" 😄

[2021-01-05 16:17] silwol commented on #408
I'll take **FreeNukum** in "Game Updates".

[2021-01-05 21:51] AnthonyYoManz commented on #408
I've gone ahead and filled out the playground.meteorlinker.com section. Thanks for featuring it :D

[2021-01-05 21:53] AngelOnFira commented on #408
Oh wow, there doesn't seem to be much free stuff (20 contributors to this issue :open_mouth:). @ozkriff feel free to assign a few to me if they end up not being taken by their recommended authors.

[2021-01-06 05:22] sdfgeoff commented on #408
I will take swoop

[2021-01-06 06:24] tesselode commented on #408
made a pull request for kira

[2021-01-06 07:36] glowcoil commented on #408
I'll take raw-gl-context

[2021-01-08 11:43] ozkriff commented on #408
@serprex sorry, could you clarify a bit: it's additional info you'd like to be added to the section, right? Would you like to write that section?

[2021-01-08 11:46] ozkriff commented on #408
Awesome! Assigning "thermite" and "Textyle" to you than :)

[2021-01-08 11:55] ozkriff commented on #408
Any volunteers for the last free sections: "OpenEtG JS->Rust story" and "polyhedron-ops"?

[2021-01-09 02:31] Lokathor commented on #408
[Triangle From Scratch](https://rust-tutorials.github.io/triangle-from-scratch/) ([GitHub repo](https://github.com/rust-tutorials/triangle-from-scratch)) is a new tutorial series. So far there's just one article for opening a window using the Win32 API, but more subjects and on more platforms will be added over time. From the author:

[2021-01-12 14:50] ozkriff commented on #408
Sorry that my reviews take so long, I have a hard time with this newsletter issue for various personal reasons. :snail:

[2021-01-12 14:55] AngelOnFira commented on #408
No worries! Editing a newsletter of this size is no small feat. We all appreciate the work you put into it every month, and don't hold you against when it's released :heart_decoration:

[2021-01-12 23:58] ozkriff commented on #408
Well, taking them :)

[2021-01-13 07:47] PsichiX commented on #408
i'm sorry for the delay with my part, lots of work was blocking me, but today i can finally sit down and write Oxygengine/RAUI section :)

[2021-01-14 18:20] ozkriff commented on #408
Aaaan finally here's the final PR: #450 (_"N17: Release"_) - everyone is invited to review.

[2021-01-14 19:58] ozkriff commented on #408
It's out!

https://rust-gamedev.github.io/posts/newsletter-017

[2021-01-14 20:34] emilk commented on #408
Good job @ozkriff !

[2021-01-16 15:47] #408 closed

[2021-01-16 15:51] ozkriff commented on #406
If there're no objections, we may try it in the next newsletter.

[2021-01-31 09:24] ozkriff opened #454 "Newsletter: new format and more delegation"
So, I'm struggling with editing and releasing the newsletter in its current format and workflow - it takes something like 40 to 50 pure hours every month to collect all the news, talk with all the people, prepare the plan and coordination issue, review/edit/merge PRs, write what's left, prepare the final draft, and publish it.

Thus, it'd be cool to reduce the bus factor and delegate the editing/m

[2021-01-31 10:07] Eliah-Lakhin commented on #454
In my opinion maybe it would be worth to consider turning the Digest publications into paid service. Since the regular maintenance taking too many actual working hours, it probably cannot be performed on a pure volunteering basis in long term even with a pool of volunteers. And the editors should be paid for their job even if the payment would be relatively small in the beginning. Also since the D

[2021-01-31 10:10] Uriopass commented on #454
I wonder how hard it would be to write a Python script that automatically enforces thoses rules, for example less than 80 characters per line.
This would run as part of CI so that reviewing is purely on content and not on form.
I'm also thinking that all the different game/lib updates could be written in separate files so that the final edit can be more automated and reduces merge conflicts to pra

[2021-01-31 10:12] 17cupsofcoffee commented on #454
@Uriopass We already have MarkdownLint running in CI to enforce those rules, but a big chunk of time gets spent chasing people to fix them - as a first step I did a PR to automatically comment on when MarkdownLint fails

[2021-01-31 10:16] ozkriff commented on #454
@Uriopass Something very similar was propesed by @AngelOnFira just yesterday. It's definitely worth discussing, though my immidiate concerns are:

[2021-01-31 10:34] Uriopass commented on #454
To avoid chasing people, I think a fixed schedule and deadlines could help saying "I'm sorry you couldn't be put into this newsletter this month but you didn't respect the rules and as volunteers we don't have time for this". (There's probably a better way to say it)

I would never have thought that it would take 40 to 50 hours to make the newsletter. At this point I feel you have the right to not

[2021-01-31 12:21] iolivia commented on #454
Crazy idea, could we have a google form with the required fields you mentioned in the template (author link, paragraph about the project, type of project, link to an image and paragraph with most recent update), post that every month (or keep an evergreen link and filter responses by date) and whoever wants to be featured needs to fill in the google form. Then we write a script which takes the goo

[2021-01-31 13:25] AngelOnFira commented on #454
@Eliah-Lakhin I do appreciate the <3 for the contributors, but I'd personally prefer to stay away from a paid subscription model. My motivation behind contributing a few sections each month is that it promotes Rust's gamedev ecosystem. I wouldn't be particularly interested if it was hidden behind a paywall.

I do like a lot of ideas here, but I think we need to move towards them slowly rather than

[2021-01-31 13:34] 17cupsofcoffee commented on #454
:+1: to that!

When the PRs pile up it means that all of them end up with merge conflicts that have to be resolved, and while it's not a *ton* of work to do that, it adds up when there's like 50 PRs coming in. I think if we can merge stuff quicker between us, people's PRs will be more likely to be starting from a recent version of the file, and that'll avoid a lot of the conflicts.

[2021-01-31 14:48] Eliah-Lakhin commented on #454
@AngelOnFira Thank you for your response!

My proposal was about paid content promotions(paid contributions), not paid subscriptions. I agree that paid subscription would be bad idea. Moreover, maybe a paid promotion should be an option, so the community is still be able to PR into the digest free of charge. But I would consider the payment services at least in the future. It is not necessary bad

[2021-01-31 16:44] ozkriff commented on #454
@Eliah-Lakhin I think content promotions and payouts to editors is a thing that is worth keeping in mind, but it's extremely hard to implement correctly and could cause loads of ethical questions. I'd prefer to stay away from this (at least for now) - atm editors can open patreon/ghsponsors/etc for donations to them personally.

[2021-01-31 16:59] ozkriff commented on #454
@Uriopass I believe we already did this a few times (also, in situations when folks take sections but don't sends corresponding PRs in time) - that's why I define a "soft deadline" in the coordination issue. So it seems like we're already doing this to some extent.

Note, that maybe I'm just not a very productive person, hah. It used to take 20 to 30 hrs before, but we have more rust gamedev news

[2021-01-31 18:14] ozkriff commented on #454
@iolivia idea about google form seems interesting, though it seems to work nice as an extension to the thread's original proposal - an issue should be created to discuss how exactly it should work. (One possible downside that comes to my mind: how should an interaction between an editor and a contributor work if there're some issues with the proposed section?)

@AngelOnFira an important note about

[2021-01-31 18:15] ozkriff commented on #454
Soo, it seems like no one is against the changes, right?

[2021-01-31 19:48] kvark commented on #454
I read the OP but not all the comments. The 40-50hours is totally nuts. We should bring that to below 10. Editor rotation sounds a bit unrealistic to me (as in, at least I may not be able to rotate, maybe others will?).

The suggested requirements and rules are great. We should just turn them into github PR templates, which means 95% of submissions will follow them naturally. Cutting the date of m

[2021-02-01 13:19] ozkriff opened #455 "Newsletter 18"
Feel free to suggest sections!

If you want to help writing the newsletter:

- Read **[CONTRIBUTING.md](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md)**.
- Grab some of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
- Mentions in brackets (like "🆓 **free** (@ozkriff?)") are just an invitation

[2021-02-01 13:27] 17cupsofcoffee commented on #455
I'll pick up the Tetra section after work :+1:

[2021-02-01 13:34] Lowentwickler commented on #455
Taking Dotrix 👍

[2021-02-01 14:18] o2sh commented on #455
I'd be more than happy to take care of Teki.

[2021-02-01 14:29] djkoloski commented on #455
I’ll write a bit about rkyv.

[2021-02-01 15:40] Dooskington commented on #455
I'll take Antorum 💯

[2021-02-01 16:16] icefoxen commented on #455
I'll take `ggez` :salt:

[2021-02-01 20:28] NiklasEi commented on #455
I'll write something about Oicana :video_game:

[2021-02-02 15:42] logicsoup commented on #455
I'll try to write something up on Garden during the week

[2021-02-02 16:31] tesselode commented on #455
i'll take kira

[2021-02-02 17:55] pmathia0 commented on #455
I'll write a section about my project (SeniorSKY), per Twitter DM invitation

[2021-02-02 18:04] dabreegster commented on #455
I'll take A/B Street

[2021-02-02 18:28] AlexEne commented on #455
I'll do dwarf.world

[2021-02-02 19:35] sanbox-irl commented on #455
Hey i'm going to add a section for imgui-rs

[2021-02-03 16:28] icefoxen commented on #455
We might want to add a specific time on that, just to make life easier for editors?  I seem to have a tendency for last-minute submissions and don't want people to tell themselves "this submission is kinda past the deadline but I should just work a bit more and get it in anyway".  Just having a firm cutoff makes life simpler.

[2021-02-03 17:43] dezajno commented on #455
I'll write a section about "Stellary 2" (game update)

[2021-02-03 17:52] cdsupina commented on #455
@tigleym and I will write about Theta Wave https://github.com/amethyst/theta-wave

[2021-02-04 13:55] ozkriff commented on #455
It's time to deal with sections that are still free!

Taking:

- Hands-on-Rust new chapters
- Triangle from Scratch: Win and WASM
- Rust Executable's Icon in Windows

[2021-02-04 14:59] ozkriff commented on #455
Any volunteers for the last unclaimed sections: "gamelisp", "Dimforge", "chess-engine", "dcli", and "Shader Playground"?

[2021-02-05 06:06] ozkriff commented on #455
Taking "gamelisp", "chess-engine" and "dcli".

[2021-02-05 06:08] ozkriff commented on #406
@martin-t what do you think about the structure of the current draft in this regard?

[2021-02-05 06:10] ozkriff commented on #455
Ping @AngelOnFira @logicsoup @erlend-sh @Lowentwickler @sanbox-irl, how're your WIP sections going? :)

[2021-02-05 06:11] sanbox-irl commented on #455
Writing it up as we speak! Well, type

[2021-02-05 20:25] ozkriff commented on #455
Also taking "Dimforge" & "Shader Playground".

Hope to have a final draft tomorrow morning and release the newsletter somewhere around 15:00 UTC.

[2021-02-05 23:15] martin-t commented on #406
I like it. Only issue i noticed is that rg3d is in the wrong section - it's an engine, though admittedly this month's update focuses heavily on the editor.

[2021-02-06 19:45] ozkriff commented on #455
Final PR - https://github.com/rust-gamedev/rust-gamedev.github.io/pull/494 - everyone is invited to review :)

[2021-02-06 21:45] ozkriff commented on #455
:tada: https://rust-gamedev.github.io/posts/newsletter-018 !!

Huge thanks to all contributors and reviewers! :crab::crab::crab:

[2021-02-06 21:51] ozkriff commented on #406
Fixed in the final draft!

[2021-02-16 07:20] #455 closed

[2021-03-01 18:51] AngelOnFira opened #496 "Newsletter 19"
### Note from the editor:

Hey everyone! We're starting to change out the lead editor of the newsletter each month, so that the workload isn't so much each month. This month, it's me! I'm Forest, or AngelOnFira. I also edit the weekly blogs for Veloren, co-host the Rust Gamedev Podcast, and run the monthly Rust Gamedev meetup.

We're also going to be transitioning to having authors or volunteers w

[2021-03-01 19:05] djkoloski commented on #496
I'd like to write about rkyv v0.4 (v0.3 was last newsletter).

[2021-03-01 19:08] dabreegster commented on #496
I'll write about A/B Street

[2021-03-01 19:11] cdsupina commented on #496
I'll write about Theta Waves. 👍

[2021-03-01 19:14] jakmeier commented on #496
I'm happy to write about Paddlers

[2021-03-01 19:20] sanbox-irl commented on #496
Unfortunately, no imgui-rs update this month. It's a biggie, and we won't have a release out till next newsletter

[2021-03-01 19:24] dezajno commented on #496
I'll give some updates on Stellary 2 :)

[2021-03-01 21:10] Lowentwickler commented on #496
I take dotrix of course :)

[2021-03-01 22:07] pmathia0 commented on #496
I take SeniorSKY

[2021-03-02 01:54] AlexEne commented on #496
There's no dwarf.world update this week as I've been busy with other stuff since the last one. Will probably do something for the next one

[2021-03-02 02:00] zicklag commented on #496
Man, it's already been a month! :wink:

No updates yet on Bevy LDtk, ldtk-rs, or Bounty Bros this month.

[2021-03-02 09:32] 17cupsofcoffee commented on #496
I'll pick up the Tetra section today (was 0.6 really this month??? what is time any more)

[2021-03-02 11:47] o2sh commented on #496
I'll take teki

[2021-03-02 12:21] ozkriff commented on #496
No Zemeroth updates this month

[2021-03-02 14:01] AngelOnFira commented on #496
Taking Veloren :100:

[2021-03-02 14:26] Wodann commented on #496
I'll do the Mun update

[2021-03-02 19:21] junkmail22 commented on #496
Project YAWC actually got a release this month, so I'd love to report on in this newsletter.

[2021-03-02 20:13] Bombfuse commented on #496
Can pick up Harvest Hero for a quick update

[2021-03-03 17:15] Dooskington commented on #496
Will write about Antorum

[2021-03-03 21:44] not-fl3 commented on #496
I will write about macroquad and fishgame

[2021-03-04 09:16] Keavon commented on #496
I'll write about Graphite.

[2021-03-04 13:56] kabergstrom commented on #496
I'd like to write something about Distill.

[2021-03-04 16:56] guimcaballero commented on #496
I'd like to write about my [Bevy rhythm game tutorial](https://caballerocoll.com/blog/bevy-rhythm-game/)

[2021-03-04 17:03] Lokathor commented on #496
Library:
[code]

[2021-03-05 01:51] MasonRemaley commented on #496
Whoops just saw this! I'll submit a PR in a few minutes. :)

[2021-03-06 16:52] AngelOnFira commented on #496
@Keavon @kabergstrom @Lowentwickler @Dooskington a ping for sections that still need PRs! Today is the last day for sections to be added, make sure you get them done :smiley:

There are still several free sections if anyone would like to volunteer and take some of them. Feel free to comment any that you'd like to take :100:

[2021-03-06 17:32] Lowentwickler commented on #496
Hey Forest, @AngelOnFira!
Thanks for the reminder!
The week was tough... Did it just now.

[2021-03-06 18:32] Keavon commented on #496
Thanks for the reminder @AngelOnFira, I've been traveling the past two days and I'm getting home later today. Is there a specific time of day that'd be the latest you can get it in? I'll probably be back within 8 hours from now, will that be too late?

[2021-03-06 19:26] AngelOnFira commented on #496
@Keavon that should be ok, as long as I wake up tomorrow and everything is ready to go :smile: (I'm EST)

[2021-03-07 01:08] Dooskington commented on #496
Sorry for the delay. Busy times 😓

[2021-03-07 09:05] ozkriff commented on #496
We don't have many learning material updates this month so I'll write a few words about "Godot vs Rapier"

[2021-03-08 04:54] AngelOnFira commented on #496
Everyone is invited to review the newsletter (#525)! We're almost done another month's newsletter :smile:

[2021-03-08 18:47] ozkriff commented on #496
Woo-hoo! Congrats on the first released newsletter, @AngelOnFira!

[2021-03-09 18:08] ozkriff commented on #454
The first newsletter coordinated not by me was released yesterday, yay. I guess, this issue can be closed now. :)

[2021-03-09 18:19] #454 closed

[2021-04-03 19:08] #496 closed

[2021-04-03 19:09] ozkriff opened #531 "Newsletter 20"
Feel free to suggest sections about any March rust gamedev news and updates!

If you want to help writing the newsletter:

- Grab some of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
- Mentions in brackets (like "🆓 **free** (@ozkriff?)") are just an invitation to write the corresponding section if you want, but anyone is free

[2021-04-03 19:14] ozkriff commented on #496
March coordination issue: https://github.com/rust-gamedev/rust-gamedev.github.io/issues/531

[2021-04-03 19:26] Bombfuse commented on #531
got emerald 👍

[2021-04-03 19:29] Uriopass commented on #531
I'll take Egregoria :)

[2021-04-03 19:50] MoleTrooper commented on #531
I'd like to mention starframe's [recent physics progress](https://twitter.com/moletrooper/status/1360723470414450688) and the [blog post](https://moletrooper.github.io/blog/2021/03/starframe-devlog-constraints/) about it published the other day :wave:

[2021-04-03 19:52] Lokathor commented on #531
I don't even remember what's new in the GL crates that was an entire months ago. It's better than before somehow, I'm sure.

[2021-04-03 19:52] Tarnadas commented on #531
I’d like to write about [sm64js](https://www.reddit.com/r/rust_gamedev/comments/mi4h32/super_mario_64_javascript_port/).
I know that it hasn’t been posted in March, but I hope this is still okay. Since we’re having a stress test in April, this would be really helpful

[2021-04-03 20:07] dabreegster commented on #531
I'll write about A/B Street

[2021-04-03 20:24] djkoloski commented on #531
I'll write about "rkyv is faster than {...}". 🙂

[2021-04-03 20:30] expenses commented on #531
My project isn't a game as such as I don't think I would have much to contribute anywa

[2021-04-03 20:36] bonsairobo commented on #531
I'll write about building-blocks v0.6.0.

[2021-04-03 20:40] bmatthieu3 commented on #531
I want to write about Aladin Lite

[2021-04-03 21:22] NiklasEi commented on #531
Would a [template repository for bevy games](https://github.com/NiklasEi/bevy_game_template) fit in here (maybe under Learning materials)?

[2021-04-03 21:59] jakmeier commented on #531
Hey, thanks for putting Paddlers on the list again! Nothing new released or published this month, though. (0.2.1 was released at the end of February)

[2021-04-03 23:08] kettle11 commented on #531
I'll claim this one. Thanks!

[2021-04-04 02:06] optozorax commented on #531
I will take `egui-macroquad` and `Portal Explorer`.

[2021-04-04 02:20] stevebob commented on #531
I'll write about [Reverse-Engineering NES Tetris to add Hard Drop](https://reddit.com/r/rust/comments/ma6jqz/using_a_rust_dsl_to_add_hard_drop_to_nes_tetris/).
I'll also write about [Orbital Decay](https://gridbugs.itch.io/orbital-decay) which is a 7 Day Roguelike game jam game I made in rust.

[2021-04-04 06:18] dezajno commented on #531
I'd like to write about some **Stellary 2** updates :)

[2021-04-04 06:23] Wodann commented on #531
I'll take Mun's update

[2021-04-04 06:34] sanbox-irl commented on #531
No imgui-rs update this month! Thanks though :)

[2021-04-04 08:04] roalyr commented on #531
Will do pGLOWrpg.

[2021-04-04 10:48] Keavon commented on #531
I'll be submitting a section for Graphite development progress (probably relevant under the *Libraries & Tooling Updates* section, unless we renamed *Game Updates* to *Game/App Updates*.

[2021-04-04 15:48] PsichiX commented on #531
i have a question - if i publish oxygengine + raui update today does it counts as entry for this month newsletter or i have to wait for next month?
also i take raui update waiting for me here :D

[2021-04-04 16:28] ShamylZakariya commented on #531
I'd love to do a writeup on my Gargoyle's Quest build; that being said I've never contributed here before, I don't know what the procedure is - where do I submit a writeup?

[2021-04-04 16:35] 17cupsofcoffee commented on #531
@ShamylZakariya Ideally, submit it as a pull request to the Game Updates section - via [the web editor](https://github.com/rust-gamedev/rust-gamedev.github.io/edit/source/content/posts/newsletter-020/index.md) is fine, if you don't want to do it locally :)

[2021-04-04 18:32] termhn commented on #531
Hi, the 0.8 update of ultraviolet is quite small, just some incremental changes so I don't think writing much about it is worth it :)

[2021-04-04 20:12] JMS55 commented on #531
I'll be writing about [WhatTheFrame](https://github.com/JMS55/whattheframe), the profiler + GUI I've been working on this month.

[2021-04-05 09:55] ozkriff commented on #531
@Lokathor :ok_hand: removed gl33 from this issue's plan. Would you like to write something about Yacurses v0.2.4?

@expenses :ok_hand: removed dune_scene from the plan.

@NiklasEi sure! "Learning materials" sounds fit.

@jakmeier oh, right!

@Keavon added to Libraries & Tooling

@PsichiX if the update describes the work you've been doing through March - it counts :)

@ShamylZakariya as 17cups said

[2021-04-05 11:22] Bauxitedev commented on #531
I'd like to work on the Bitmapflow section.

[2021-04-05 12:52] jojolepro commented on #531
Taking Planck ECS! :hearts:

[2021-04-05 14:06] cdsupina commented on #531
I'll try to have a PR for Theta Wave done by the end of today!

[2021-04-05 15:11] jamadazi commented on #531
What order are games to be listed in, on the public newsletter? The order of the listings could really affect which projects get most visibility...

[2021-04-05 18:10] zicklag commented on #531
@ozkriff sorry I'm not on Discord/Telegram so I can't DM you for this question: I have three different projects to post about this month, a Bevy plugin, a game engine built on top of Bevy and that plugin, and the Bounty Bros. game. Their all built on top of each-other so they could go into one section, but should they be separate?

Also if they are separate, should each be in its own PR?

[2021-04-05 19:16] cwfitzgerald commented on #531
I'll write about rend3 next time around, there's a major refactor coming shortly that I would like to be included.

[2021-04-05 19:19] ozkriff commented on #531
@jamadazi we don't have strict ordering for games but I'm usually trying to show new big games first. Maybe we should have a more explicit policy here, yeah.

@zicklag separate sections sound good. although if the plugin's section is small it may make sense to merge it into the engine's one.

@cwfitzgerald ok! removed from the current plan :)

[2021-04-05 19:33] ozkriff commented on #531
:warning: A reminder that the editors [won't write _all_ the untaken sections themselves](https://github.com/rust-gamedev/rust-gamedev.github.io/issues/454) anymore so if you want to make sure that something will be mentioned - you're encouraged to volunteer and grab these sections. :)

There are 26 free sections atm.

[2021-04-05 21:01] fintelia commented on #531
I can write up something for smaa-rs

[2021-04-05 23:10] Lokathor commented on #531
@ozkriff 0.2.4 of yacurses is small enough that i don't even remember what it does. just tiny bugfixes. you should *still* program ascii roguelikes of course, but i don't think it needs an annoucnement.

[2021-04-06 02:26] Bombfuse commented on #531
Adding section for Harvest Hero 👍

[2021-04-06 03:12] tesselode commented on #531
i'll take kira

[2021-04-06 03:24] Ralith commented on #531
I'll do something for hecs and quinn

[2021-04-06 19:18] DomWilliams0 commented on #531
Can I please add a section plugging my game/engine and dev logs? https://github.com/DomWilliams0/name-needed

[2021-04-06 19:22] ozkriff commented on #531
@DomWilliams0 sure!

[2021-04-07 05:40] hecrj commented on #531
I can write something for `iced` in the next hours.

[2021-04-07 05:41] alexheretic commented on #531
Thanks for considering that Robo Instructus article. I don't think I'll have time to raise a pr this time, so feel free to leave it out.

[2021-04-07 17:29] ozkriff commented on #531
@hecrj that would be great!

@alexheretic :ok_hand:  that's a cool article though, I'll try to write some summary myself :)

[2021-04-07 20:15] ozkriff commented on #531
We've passed the soft deadline - pingning @PsichiX @Wodann @Keavon, how're your WIP sections going? :)

[2021-04-07 20:18] Keavon commented on #531
Wasn't sure about the time zones and how much time I could squeak by :)

We finished up a big milestone last night so I've been writing the Graphite section on and off this morning. It's surprisingly hard to condense a lot of details into under 1k characters. I'm aiming to have it done within the next couple hours.

[2021-04-07 20:22] ozkriff commented on #531
@Keavon yeah, writing a good overview is hard sometimes.

It's likely that the final draft will be ready in something like 20 hrs so there's no need to rush that much :)

[2021-04-07 21:18] ozkriff commented on #531
Grabbing "Disguiser", "secbot", "rusty-bomber", "Outer Wonders", and "Robo Instructus article".

There're ~15 more free sections if anyone wants to help.

[2021-04-07 21:37] PsichiX commented on #531
Oxygengine & RAUI updates pushed :D

[2021-04-09 06:34] ozkriff commented on #531
Taking "Writing a 3D Shooter using rg3d" and "Using tests to speed up your feedback loop" learning sections.

Some cool library stuff is also not written, so going to take a few more library&tools sections later today and will publish the final draft closer to the evening (in my timezone).

[2021-04-09 18:31] ozkriff commented on #531
Taking the last bunch of sections: genesis, Shipyard, rust-gpu.

[2021-04-09 18:37] Lokathor commented on #531
* The [gba](https://github.com/rust-console/gba) crate was updated to 0.4! It's using the new `thumbv4-none-eabi` target, and has an overall simpler build process than before. The project is still a work in progress, but if you've wanted to try an embedded experience this is an easy way to test the waters. No hardware required! Compiled binaries can be run in a GBA emulator just fine.

[2021-04-10 09:34] ozkriff commented on #531
Final PR - https://github.com/rust-gamedev/rust-gamedev.github.io/pull/583 - everyone is invited to review

[2021-04-10 15:41] ozkriff commented on #531
:tada:  https://rust-gamedev.github.io/posts/newsletter-020

As always, huge thanks to all editors, contributors, and reviewers! :crab::crab::crab:

[2021-04-10 20:59] #406 closed

[2021-04-12 15:58] #531 closed

[2021-04-12 19:01] ozkriff commented on #233
Surprise! juratech.rs answered: they actually don't plan to use the gamedev.rs domain now and like what we're doing, so they've transferred the domain as a gift! Preparing for the migration! :smiley:

[2021-04-13 13:25] #233 closed

[2021-04-13 13:38] ozkriff commented on #233
:tada:
https://gamedev.rs
:tada:

(DNS updates may take a few hours to propagate through the internet)

[2021-05-01 11:12] 17cupsofcoffee opened #589 "Newsletter 21"
# Newsletter 21

**Editors**: @17cupsofcoffee, @ozkriff and @AngelOnFira

Another month has gone by, so it's time to put together the Rust Gamedev newsletter for April!

If you want to help writing the newsletter:

- Grab some of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
  - The links in brackets (like "1, 2, 3") are sugges

[2021-05-01 12:05] ozkriff commented on #589
I'm definitely taking "gamedev.rs" and "awesome-quads" sections.

[2021-05-01 12:17] PsichiX commented on #589
taking oxygengine and raui :D

[2021-05-01 12:40] virtualritz commented on #589
Taking `opensubdiv-petite`.

[2021-05-01 13:02] roalyr commented on #589
pGLOWrpg: #590

[2021-05-01 13:29] setzer22 commented on #589
I'm taking `The Process` :+1:

[2021-05-01 13:57] henryksloan commented on #589
Taking KindNES

[2021-05-01 16:00] rparrett commented on #589
Taking `Taipo`

[2021-05-01 16:09] aclysma commented on #589
I will write something for profiling and rafx

[2021-05-02 08:46] Healthire commented on #589
I'll take LD 48: Micronaut

[2021-05-03 03:28] not-fl3 commented on #589
Will do macroquad and fishgame

[2021-05-03 06:28] cdsupina commented on #589
Update for Theta Wave is in progress.

[2021-05-03 07:29] stephanemagnenat commented on #589
I'll like to mention [simple-async-local-executor](https://crates.io/crates/simple-async-local-executor) in libraries.

[2021-05-03 09:01] mrDIMAS commented on #589
I'll take rg3d

[2021-05-04 09:14] utoalex commented on #589
Would like to write about [Outer Wonders](https://utopixel.itch.io/outer-wonders) (my GitHub handle is this one, not _peacebringer_ 😅)

[2021-05-04 09:24] 17cupsofcoffee commented on #589
@utoalex Whoops, think I got mixed up between Discord and GitHub handles, sorry about that 😅

[2021-05-04 11:32] utoalex commented on #589
@17cupsofcoffee No problem! Not sure I had given my GitHub handle before anyway 🙂

[2021-05-04 11:34] AngelOnFira commented on #589
Taking Veloren, the Rust Game dev meetup, and Bevy 0.5 :smiley:

[2021-05-04 13:08] AngelOnFira commented on #589
@17cupsofcoffee I think we can remove bevy, the 0.5 updates were added to last month's newsletter :)

[2021-05-04 16:07] JonathanMurray commented on #589
Heya! I'll write something for chip-8-rs! :-)

[2021-05-05 23:15] LPGhatguy commented on #589
I'll be doing the write-up for "LD48: Depth First Search", our game jam game! :D

[2021-05-06 15:23] sebcrozet commented on #589
Hey! I'll take nalgebra.

[2021-05-06 15:46] mrDIMAS commented on #589
Also taking Station Iapetus

[2021-05-06 19:08] jamadazi commented on #589
Taking MineWars (Game) and Bevy Cheatbook (Learning).

[2021-05-07 15:25] 17cupsofcoffee commented on #589
Picking up "Rust Linz: Learning Rust with Game Development"

[2021-05-08 08:56] ozkriff commented on #589
So many cool sections are still unclaimed :( Will try to squeeze out a few PRs before the final draft is ready. Grabbing:
- Learning OpenGL in 7 days using Rust
- Shooting Gallery Game in Rust and Bevy in 5 Hours

[2021-05-08 11:15] 17cupsofcoffee commented on #589
⏰ **Last call for submissions** - as soon as @Keavon and @ozkriff's sections are done I'll probably be raising the release PR.

[2021-05-09 00:08] Keavon commented on #589
Sorry to hold up the newsletter, crazy crazy week!

[2021-05-09 08:56] 17cupsofcoffee commented on #589
🚂 The release PR is ready: #631

Everyone is invited to review, hoping to merge this afternoon!

[2021-05-09 15:13] 17cupsofcoffee commented on #589
And it's live! https://gamedev.rs/news/021/

Thank you for everyone's contributions!

[2021-05-09 15:15] ozkriff commented on #589
Yay! Congrats on the first released newsletter, @17cupsofcoffee!

[2021-05-09 15:48] ZackGabri commented on #589
On the "How To Write a Crash Reporter" section, clicking the section's header redirects correctly to the article, but on the part where it says "@masonremaley wrote an article walking through" clicking on "an article" redirects to [this page](https://gamedev.rs/news/021/crash-reporter) which is just a 404 page

[2021-05-09 16:08] 17cupsofcoffee commented on #589
@ZackGabri Good spot, have included a fix in #633.

[2021-05-09 16:22] #589 closed

[2021-05-09 17:31] virtualritz commented on #589
I just got https://github.com/virtualritz/libfive-rs in a shape that it may be useful to people. I could do a write up in the next 30 mins. Let me know.

[2021-05-09 18:16] PsichiX commented on #589
@virtualritz well, newsletter is actually public now so maybe next issue?

[2021-05-09 18:36] virtualritz commented on #589
No wuckers; didn't see it was published. 😄

[2021-05-14 09:48] 17cupsofcoffee opened #636 "Better solution for hosting images (or the site as a whole)?"
I noticed while working on the most recent newsletter that the size of the repo is starting to get a bit unwieldy - a fresh clone is 800MB (half of which is the index, half of which is the actual files).

Not only does this make it more of a pain for people to contribute, there is a [hard 1GB limit on published GitHub Pages sites](https://docs.github.com/en/pages/getting-started-with-github-pages/

[2021-05-14 09:53] ozkriff commented on #636
Another option is to stop accepting GIFs but start accepting video files and limit the image and video sized drastically. The downsides are that we need to somehow process all the published newsletters and GitHub still doesn't support videos in Markdown preview.

[2021-05-14 09:57] 17cupsofcoffee commented on #636
Some stats on what's taking up the space:

![image](https://user-images.githubusercontent.com/784533/118254409-f8fd8d00-b4a2-11eb-95e2-f30bacd58a3e.png)

(the `.pack` is the index)

[2021-05-14 10:20] ozkriff commented on #636
Another theoretical option is to use git LFS (don't know if it will help with GitHub Pages limitations) but GitHub LFS pricing doesn't fit for open source projects at all :(

[2021-05-14 11:51] AngelOnFira commented on #636
re: Videos instead of gifs, we did this recently with Veloren's blog on Zola, and it has made it significantly easier to show off more content with smaller filesize. I think this would be a good move even outside of this particular issue.

re: GitHub LFS, I would not recommend this path. We've look at it for Veloren, and when we asked if GitHub would sponsor us with more bandwidth, they recommende

[2021-05-14 12:07] 17cupsofcoffee commented on #636
Sounds like a win-win then :)

I already use Netlify for all of my personal/Tetra stuff, and I much prefer it to GitHub Pages personally. They also have a 100GB a month bandwidth limit, but no deploy size limit as far as I've been able to tell. Think the only downside to this would be that we'd need a seperate login rather than being able to manage it all via GitHub (you can't add team members on

[2021-05-14 12:22] 17cupsofcoffee commented on #636
Ah, one other thing we'd have to figure out to switch to videos would be how we embed them - there's not a standard syntax for embedding videos into Markdown, so we'd potentially have to use a Zola shortcode? Not sure how Veloren has solved this, will have to take a look.

I think if we do go that route we'd need to really clearly flag it up in the co-ordination issue.

[2021-05-14 13:02] AngelOnFira commented on #636
We've done this before when we moved Veloren's assets to LFS, and there are some pretty good tools out there to rewrite history like this :+1:

Ya, we use Zola shortcodes for videos. It looks like this:

[code]
and can be used like:
[code]
{{ video(src="https://.../foo.ogv", type="video/ogg") }}
{{ video(src="https://.../foo.ogv", type="video/ogg", caption="An ogg vorbis video") }}
[code]
I think

[2021-05-31 13:36] ozkriff opened #639 "Line Length Lint"
Currently, a `line-length` lint is enabled and set to 80 chars. In https://github.com/rust-gamedev/rust-gamedev.github.io/pull/638 @Keavon proposed to get rid of it:

I don't agree that the current limit is nonsensical - it's an [ancient question](https://about.gitlab.com/blog/2016/10/11/wrapping-text) with no universally right answer that fits for all projects. In my personal experience, lengthy

[2021-05-31 13:46] 17cupsofcoffee commented on #639
Been thinking about this some more since the quoted comment, and I think there's two sides to this that have to be balanced.

As a section _writer_, I find it slightly annoying, due to the fact that GitHub's built-in editor does not (as far as I can tell) give you an indication of your line length, so I'll often go over the limit by one or two characters and have to re-edit. It's not the end of th

[2021-05-31 14:40] AngelOnFira opened #640 "Newsletter 22"
# Newsletter 22: May 2021

**Editors**: @AngelOnFira, @17cupsofcoffee, and @ozkriff

Another month has gone by, so it's time to put together the Rust Gamedev newsletter for May!

If you want to help writing the newsletter:

- Grab some of the "🆓 **free**" sections by leaving a comment like "I'd like to work on {section\_name\_1} and {section\_name\_2}".
  - The links in brackets (like "1, 2, 3") a

[2021-05-31 14:41] AngelOnFira commented on #640
@seratonik sorry for the ping, meant do swap out the template for myself :sweat_smile:

[2021-05-31 16:06] roalyr commented on #640
Oh god, it is this time again 😂
Taking pGLOWrpg.

[2021-05-31 16:36] PsichiX commented on #640
gonna add RAUI section tomorrow :D

[2021-05-31 17:11] Bombfuse commented on #640
will take Harvest Hero 👍

[2021-05-31 19:49] ozkriff commented on #640
Some proposals for the plan (from /r/rust_gamedev):

[code]

[2021-06-01 01:17] zer0x64 commented on #640
I'll do Nestadia, no problem :)

[2021-06-01 10:08] 17cupsofcoffee commented on #640
I'll pick up Tetra in the next day or two :)

[2021-06-01 17:32] AlexEne commented on #640
I would skip `nannou_egui` from this update as I really want the nannou upgrade to webgpu to `0.8` to iron out some kinks in usage. https://github.com/nannou-org/nannou/pull/737
It's close to land if i get it in by the 6th I will write something, if not, would rather skip this month.

[2021-06-01 18:08] ozkriff commented on #640
A couple more plan proposals from Twitter:

[code]

[2021-06-01 18:23] ChristopherBiscardi commented on #640
happy to take on "2048 Using an event system to reset the game"

[2021-06-01 20:43] termhn commented on #640
I will take `cint` (and also talk about `colstodian`) :)

[2021-06-02 10:53] setzer22 commented on #640
Will take The Process :+1:

[2021-06-02 13:38] zicklag commented on #640
I'll do an update on Bevy Retro and Bounty Bros.

[2021-06-02 15:33] sotrh commented on #640
I got the Learn WGPU section

[2021-06-02 15:39] virtualritz commented on #640
I take `libfive` (which I just published on `crates.io`).

[2021-06-02 16:08] kvark commented on #640
@ozkriff the gfx-rs news is already added here

[2021-06-02 16:58] cdsupina commented on #640
@tigleym and I will take Theta Wave

[2021-06-02 17:43] roalyr commented on #640
#648

[2021-06-04 07:46] Orchaldir commented on #640
I will take texture_generator.

[2021-06-04 08:58] NiklasEi commented on #640
I will write something for `bevy_asset_loader`

[2021-06-04 08:58] utoalex commented on #640
I'll take _Outer Wonders_.

[2021-06-04 13:48] AngelOnFira commented on #640
Just sending out a ping to sections that we haven't heard back from, since the section deadline is in 2 days :+1:

@cwfitzgerald @Wodann @simbleau @Twinklebear @mrDIMAS @not-fl3 @kuviman @TanTanDev @junkmail22 @MasonRemaley @eduardonunesp

[2021-06-04 13:49] AngelOnFira commented on #640
I'll take Rust in Unreal Engine (May 2021 Summary)

[2021-06-04 17:29] x-52 commented on #640
I'll take the LD48 MMO.

[2021-06-04 17:39] junkmail22 commented on #640
I'll write something up about the small amount of progress I made this month on project YAWC.

[2021-06-04 18:06] Twinklebear commented on #640
I can put something together for tobj today 👍

[2021-06-06 19:20] mrDIMAS commented on #640
I was very busy for last few days, but tomorrow I'll have time for the newsletter, sorry for the delay. In other words I'm taking rg3d :)

[2021-06-06 21:50] TanTanDev commented on #640
I started working on the Tantan stuff `Video: 1 Year of Rust Game Development` `Video: voxel engine with rust and wgpu-rs`

[2021-06-07 00:29] zicklag commented on #640
I just published an [article](https://katharostech.com/post/writing-bevy-retros-renderer) about the process of writing Bevy Retro's renderer and why my company felt it was needed, but it doesn't necessary qualify as learning material, because it's more like a "here's what we went through roughly to get this working".

Not sure if that is worth including in the newsletter. If you think that it fits

[2021-06-07 16:52] ozkriff commented on #640
@zicklag I think it's worth adding but considering it was published yesterday it's better to include it in the next (June) newsletter. Added it to the plan.

[2021-06-08 08:08] ozkriff commented on #640
A bunch of interesting sections isn't claimed yet. Will try to squeeze out a few PRs before the final draft is ready.
Grabbing "rust-sokoban-wasm", "rpg-cli", and "Dimforge".

Any volunteers to take imgui-wgpu, nvti-rs, nvtx-rs?

[2021-06-08 08:09] Keavon commented on #640
By the way, just to bring up the topic, is Libraries & Tooling the most relevant section for software projects like Graphite? It's neither a library nor tooling. Would it fit better in the Games or Engines sections? My proposal would be changing "Game Updates" to "Game & Application Updates". Other applications like the city traffic simulator, similarly, seem more broad than just the strict catego

[2021-06-08 11:15] AngelOnFira commented on #640
@Keavon I think A/B streets does still make sense in the games section, since the team does have ideas to add story/objectives to the game (on top of it being used as a tool). I'll run this by the rest of the editing team though, and see if we can come up with a good solution :100:

[2021-06-08 11:41] AngelOnFira commented on #640
@PsichiX @ChristopherBiscardi @termhn just sending out a ping to try and wrap up your sections today :100:

[2021-06-08 11:43] termhn commented on #640
I think I will wait to write about `cint` and `colstodian` next newsletter, still working on polishing some things before I really want to put it out there.

[2021-06-09 14:13] AngelOnFira commented on #640
We're getting the final release ready, everyone is invited to review :partying_face:

https://github.com/rust-gamedev/rust-gamedev.github.io/pull/673

[2021-06-10 12:00] AngelOnFira commented on #640
Thanks for the great work everyone! Another month done :ok_hand:

https://gamedev.rs/news/022/

[2021-06-10 12:00] #640 closed

[2021-07-01 11:41] ozkriff opened #677 "Newsletter 23"
# Newsletter 23: June 2021

**Editors**: @AngelOnFira, @17cupsofcoffee, and @ozkriff

Another month has gone by, so it's time to put together the Rust Gamedev newsletter for May!

If you want to help writing the newsletter:

- Read [CONTRIBUTING.md](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md).
- Grab some of the "🆓 **free**" sections by leaving a comment lik

[2021-07-01 12:09] gschup commented on #677
I'd like to work on the section for my library; GGRS! If no-one from the backroll-rs team volunteers to write about their section, I can also describe Rollback Networking in general (since the functionality of the two libraries is so similiar)

[2021-07-01 12:48] maroider commented on #677
I'll take glutin.

[2021-07-01 13:11] james7132 commented on #677
Per another non-GitHub discussion, @ValorZard has offered to write up something for backroll-rs. I'll likely proofread anything in our section before they submit it.

[2021-07-01 13:27] buxx commented on #677
Hello, I would like to work on `Open Combat` game update :)

[2021-07-01 14:45] ollej commented on #677
I can write something about my Rusty Slider tool.

[2021-07-01 14:46] Uriopass commented on #677
I'll take Egregoria :)

[2021-07-01 15:11] zicklag commented on #677
I should be able to do "Writing Bevy Retro's Renderer" and an update for Bounty Bros. and Bevy Retro.

[2021-07-01 15:22] szunami commented on #677
I'm happy to produce a blurb about taileater :)

[2021-07-01 15:23] Bombfuse commented on #677
Can take HHO 👍

[2021-07-01 15:24] deepu105 commented on #677
I can work on update for Battleship-rs

[2021-07-01 15:45] a1phyr commented on #677
I'll take `assets_manager`

[2021-07-01 16:48] bonsairobo commented on #677
I'll take Projectris.

[2021-07-01 16:59] henryksloan commented on #677
I'll do Sugarcubes

[2021-07-01 17:53] setzer22 commented on #677
I'll take The Process

[2021-07-01 18:09] yeahross0 commented on #677
I'll take Weegames Web

[2021-07-01 20:02] LiquidityC commented on #677
I'd gladly put something together for Blightmud. I think it's categorized wrong though. It's a mudclient (game client for textbased (telnet) games), not an engine. :wink:

Does it still apply to the newsletter?

[2021-07-01 21:33] Friz64 commented on #677
I will take erupt.

[2021-07-01 22:53] ErnWong commented on #677
I'd be happy to take Dango.

I'd also like to write about the [CrystalOrb](https://github.com/ErnWong/crystalorb) library. It feels like there's not enough rollback networking libraries for June's newsletter 😄

[2021-07-01 23:09] ValorZard commented on #677
Hello! Yeah, I want to talk about Backroll-rs and showcase a sample project made with it using the Bevy engine. That sample project is not done yet, so I hope I can finish it up before the deadline. Also, I'd also be interested in helping with the writeup on CrystalOrb. It would be really funny if we end up having a rollback netcode section of the newsletter :rofl:

[2021-07-01 23:35] BlackPhlox commented on #677
Imma take bevy_midi and also add [bevy_config_cam](https://github.com/BlackPhlox/bevy_config_cam), both released last month.

[2021-07-02 08:02] tesselode commented on #677
i'll take egui-tetra

[2021-07-02 14:18] basstabs commented on #677
I'll write up something for the Line of Sight tutorial

[2021-07-02 21:00] corwinkuiper commented on #677
I'll claim The Hat Chooses The Wizard

[2021-07-03 01:41] vgel commented on #677
I'll work on Themengi! Thanks for suggesting :)

[2021-07-03 14:47] ozkriff commented on #677
@LiquidityC my bad, sorry. moved it to games. It definitely fits the newsletter :)

@ValorZard FYI that @gschup has already sent a [PR](https://github.com/rust-gamedev/rust-gamedev.github.io/pull/685) about backroll-rs - it's better if you'd review and tweak it instead of creating a conflicting PR.

[2021-07-03 15:34] gschup commented on #677
In case @ValorZard does not reply here: We created the section presented in my PR collaboratively.

[2021-07-04 06:07] dabreegster commented on #677
I'm overwhelmed catching up on stuff right now, so no A/B Street this month. There'll be more fun things to report next time. Thanks!

[2021-07-04 20:58] zicklag commented on #677
Got busy this weekend, decided I'll wait on the update for Bevy Retro and Bounty Bros. There'll be a bigger update next month, I think. :)

[2021-07-05 03:04] Im-Oab commented on #677
My game (Flesh) doesn't appear in the slot but I would like to add a link to the demo build. May I?

[2021-07-05 14:27] utoalex commented on #677
I will unfortunately have to skip this month. Development on _Outer Wonders_ has slowed down a fair bit this month so we don't have much to showcase right now.
Hopefully we'll have more to show in the next newsletter!

[2021-07-06 00:37] Bombfuse commented on #677
Might not be able to finish my section by end of day, can work on it tomorrow but don't wait up! I can always get in on the next one

[2021-07-07 14:42] ozkriff commented on #677
A bunch of interesting sections isn't claimed yet. Will try to squeeze out a few PRs before preparing the final draft later today.

Grabbing "Not Snake", "GMTK Jam - sokoban-sokoban", "GMTK Jam - Space:CAKES".

Any volunteers for other still free sections? :)

[2021-07-07 14:52] thebracket commented on #677
I'll try and get you a quick update about my Game Development article this morning. I've been a little tied up - Hands-on Rust should be in print this week, but I don't know exactly when. Launching the book is a surprising amount of work!

[2021-07-07 19:28] ozkriff commented on #677
Grabbing "Getting Started With ECS Using Planck ECS" and "texture_generator" for the last PR before the draft

[2021-07-07 21:18] Keavon commented on #677
Could I request that an issue for Newsletter 24 be created now, even if it's just blank until edited later? Preferably with a publication date also included. I'd like to reference a link to the issue on a tracking issue in my project.

[2021-07-08 06:50] ozkriff commented on #677
Final PR - https://github.com/rust-gamedev/rust-gamedev.github.io/pull/717 - everyone is invited to review :)

[2021-07-08 10:06] 17cupsofcoffee opened #719 "Newsletter 24"
# Newsletter 24: July 2021

**Editors**: @17cupsofcoffee, @AngelOnFira, and @ozkriff

Another month has gone by, so it's time to put together the Rust Gamedev newsletter for July! *(hey that kinda rhymed this month)*

If you want to help writing the newsletter:

- Read [CONTRIBUTING.md](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md).
- Grab some of the "🆓 **fre

[2021-07-08 10:09] 17cupsofcoffee commented on #677
@Keavon #719 has been raised. Date is subject to change, but generally we aim to get it published around the 7th/8th each month.

[2021-07-08 10:12] Keavon commented on #677
Thanks @17cupsofcoffee!

[2021-07-08 17:49] ozkriff commented on #677
https://gamedev.rs/news/023 :tada:

As always, huge thanks to all editors, contributors, and reviewers! :crab: :crab:

[2021-07-09 09:28] #677 closed

[2021-07-20 14:33] icefoxen commented on #719
ggez 0.6.0 has been released, this is a note to myself to make sure it gets included here~

[2021-07-20 14:39] 17cupsofcoffee commented on #719
@icefoxen Have added it to our draft of the plan :+1:

[2021-07-30 21:12] t-mw commented on #719
I'll work on the PR for throne

[2021-07-30 23:44] djkoloski commented on #719
I'd like to write about [rkyv](https://github.com/rkyv/rkyv) if there's room!

[2021-07-30 23:49] Bombfuse commented on #719
Will take Emerald and HHO

[2021-07-31 05:54] dabreegster commented on #719
Sorry, once again I'm overloaded, no A/B Street update this month

[2021-07-31 10:33] Jake-Shadle commented on #719
Yah, I can take [discord-sdk](https://github.com/EmbarkStudios/discord-sdk).

[2021-07-31 17:28] Tarnadas commented on #719
I’d like to write about [Shroom Kingdom](https://shroomkingdom.net/)

See this [blog post](https://net64-mod.github.io/blog/shroom-kingdom/)

[2021-07-31 18:33] NiklasEi commented on #719
I'll write something about Wicked Potions

[2021-07-31 19:51] setzer22 commented on #719
I'll take `godot-egui` and also work in a short piece for _The Process_ if that's okay :+1:

[2021-07-31 20:37] setzer22 commented on #719
By the way, I think there's a typo in the issue text:

Shouldn't it be August?

[2021-08-01 07:56] erlend-sh commented on #719
Would someone be so kind as to bundle this post here into a PR of their own? I always goof something up with this PR process.

### Fish Fight

https://user-images.githubusercontent.com/583842/127763195-dd3d2f10-d3a9-498b-b6b9-6c4944589c4e.mp4

Fish Fight [[Twitter](https://twitter.com/fishfightgame)] by @not-fl3 & @erlend-sh

- Reintroduced the game as the [independent Fish Fight](https://twitter.

[2021-08-01 18:58] gschup commented on #719
I'll write a short update on my rollback netcode library GGRS

[2021-08-01 20:37] MoleTrooper commented on #719
I'll add a bit about Starframe's new rope physics :wave:

[2021-08-01 21:19] saveriomiroddi commented on #719
I'm adding a `Game Updates` subsection for updates about the Fish Game; see https://github.com/rust-gamedev/rust-gamedev.github.io/issues/719#issuecomment-890470297.

[2021-08-02 13:42] AngelOnFira commented on #719
I'll take care of this @erlend-sh :)

[2021-08-02 18:31] thebracket commented on #719
I'll get something about Hands-on Rust for you either later today or in the morning. Thanks!

[2021-08-02 19:25] zicklag commented on #719
I'll do an update on Bounty Bros. and Bevy Retrograde.

[2021-08-03 21:27] x-52 commented on #719
I'll take the RG3D RPG tutorial!

[2021-08-03 21:36] markmandel commented on #719
I'll get something to you for Quilkin - probably tomorrow (US/Wed)!

[2021-08-06 18:26] 17cupsofcoffee commented on #719
⏰ Reminder that we're aiming to get the newsletter released this weekend - soft deadline for PRs is tomorrow.

[2021-08-06 20:09] NiklasEi commented on #719
Would my blog post about asset handling in Bevy apps fit into the newsletter somewhere? https://www.nikl.me/blog/2021/asset-handling-in-bevy-apps/
It's not really a learning material/tooling update

[2021-08-06 21:13] 17cupsofcoffee commented on #719
@NiklasEi I think this could fit into a Library Updates section for `bevy_asset_loader`, since it's justifying why that library exists and talking about the future development direction for it :)

[2021-08-08 05:50] Keavon commented on #719
Thanks @henryksloan for helping with the Graphite submission!

[2021-08-08 09:07] 17cupsofcoffee commented on #719
Going to write a section on Zemeroth, Flesh and Macroquad, and then if there's no more PRs, I'll get the final publication PR ready to go :)

[2021-08-08 11:45] 17cupsofcoffee commented on #719
Final review PR is up: #745

[2021-08-08 15:25] 17cupsofcoffee commented on #719
...and it's published! Thanks for everyone's contributions 😄

[2021-08-09 07:46] #719 closed

[2021-08-09 07:48] 17cupsofcoffee opened #751 "Newsletter 25 - August 2021"
# Newsletter 25: August 2021

**Editors**: @AngelOnFira, @17cupsofcoffee, and @ozkriff

Another month has gone by, so it's time to put together the Rust Gamedev newsletter for August!

If you want to help writing the newsletter:

- Read [CONTRIBUTING.md](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md).
- Grab some of the "🆓 **free**" sections by leaving a commen

[2021-09-02 09:32] gschup commented on #751
I wrote a small bit about GGRS and it's freshly released accompanying bevy plugin! (#753)

[2021-09-02 13:23] rparrett commented on #751
I'll write something about

https://github.com/rparrett/pixie_wrangler
https://euclidean-whale.itch.io/pixie-wrangler

[2021-09-02 16:18] vgel commented on #751
I'll write an update on Themengi.

[2021-09-02 17:05] olefasting commented on #751
I can write something about rust_rpg_toolkit

[2021-09-02 20:19] Vrixyz commented on #751
In context of the rusty game jam I’ll write about [what’s the word](https://vrixyz.itch.io/whats-the-word).

[2021-09-03 03:14] parasyte commented on #751
Likewise, I have a Rusty Jam entry that I will contribute a section for: [Sombervale](https://github.com/blipjoy/sombervale).

[2021-09-03 08:07] martin-t commented on #751
I wrote a bit about RecWars: #757

[2021-09-03 08:51] Bauxitedev commented on #751
I'd love to write something, unfortunately I keep running into this issue when trying to build the newsletter with Zola: https://github.com/getzola/zola/issues/1442#issuecomment-912368126

Anyone else with the same issue?

[2021-09-03 08:56] Bauxitedev opened #758 "Site fails to build: Variable `config.default_language` not found in context while rendering 'index.html'"
See https://github.com/getzola/zola/issues/1442#issuecomment-912368126

Basically I get this error when trying to build with Zola 0.14.1 on both Windows 10 and WSL2:
[code]

Even though the "default_language" is clearly present in config.toml:
[code]

I'm not sure if this is a Zola issue, or an issue with the newsletter, so I'm opening it on both issue trackers.

Update: changing `config.default_l

[2021-09-03 09:04] Bauxitedev commented on #751
I'll write a bit about Vehicle Evolver Deluxe.

[2021-09-03 10:59] olefasting commented on #751
I'm sorry, turns out I am going away on some family business this weekend, so I will have to delay this to next months issue

[2021-09-03 11:41] Healthire commented on #751
Would it be okay to add a section on Shattersong Online, or are you keeping the newsletter to non-commercial or open source projects? It's being made entirely in rust. We announced it on July 31 but forgot to mention it for the july newsletter. https://triplehex.dev/shattersong-online/

If I can add it, where should the section go, is there some specific ordering?

[2021-09-03 12:25] ramirezmike commented on #751
I'll write about [Not Snake](https://ramirezmike2.itch.io/not-snake) and also my Rusty Jam entry [A Day at the Movies](https://ramirezmike2.itch.io/a-day-at-the-movies)

[2021-09-03 12:58] 17cupsofcoffee commented on #758
Our CI is currently pinned to Zola 0.12 - we haven't updated to 0.14 yet (but we should!)

[2021-09-03 17:33] Pebaz commented on #751
I'd like to work on Liminal Lab 000!

[2021-09-03 18:23] mrDIMAS commented on #751
I'll write about rg3d.

[2021-09-03 19:50] zakarumych commented on #751
I'd write about Sierra update.

[2021-09-04 17:08] AngelOnFira commented on #751
A reminder for the WIP items, the soft deadline is tomorrow! (@zakarumych @cloudhead @Keavon @mrDIMAS @Healthire @parasyte @Vrixyz @vgel @Tarnadas)

Also want to ping those who haven't checked in about their projects (@dabreegster @setzer22 @erlend-sh @not-fl3 @olefasting @r3sgame @lucamoller)

[2021-09-04 17:10] setzer22 commented on #751
Will send my parts tomorrow, thanks for the reminder @AngelOnFira! :)

[2021-09-04 17:38] dabreegster commented on #751
No A/B Street update this month, sorry

[2021-09-04 21:09] martin-t commented on #751
I fixed my links: #765

[2021-09-05 03:01] lucamoller commented on #751
Added "Rewriting my mobile game in Rust targeting WASM" to Learning Material Updates: #766

[2021-09-06 13:14] Keavon commented on #751
Sorry to be late, I'm going to finish writing the Graphite post as soon as I wake up in the morning.

[2021-09-06 16:50] 17cupsofcoffee commented on #636
A bit of lunchtime hacking - running this in the root of the repo converts all GIFs to (hopefully) web-optimized MP4s:

[code]

Still need to figure out the best way of batch replacing image tags in Markdown with video tags or shortcodes - I feel like I'd need to pull in a Markdown parser to do that, since they're all formatted differently/some have alt text/some are inside links.

[2021-09-06 22:29] septum commented on #751
Sorry for submitting after the soft deadline, couldn't work on it then.

A PR for TO BE DIRE is ready: #774.

[2021-09-07 11:47] Keavon commented on #751
Done, sorry for the delay!

[2021-09-08 03:00] AngelOnFira commented on #751
As always, inviting everyone to check out the final review #779 :smiley:

[2021-09-08 19:49] AngelOnFira commented on #751
And that's that, we're live! Thanks everyone for another great month, see you next time!

https://gamedev.rs/news/025/

(Will post to social media in a few minutes)

[2021-09-09 20:59] ozkriff opened #783 "Newsletter 26"
This is a placeholder issue for September's Rust gamedev newsletter - it will be updated with the outline and contribution instructions closer to the end of the month. If you want to submit a section earlier than that, please feel free!

[2021-09-10 14:14] #751 closed

[2021-09-26 19:37] ozkriff opened #785 "Discussions section"
i've been considering for some time to introduce a new "discussions" section into the newsletter for links to handpicked reddit/twitter/urlo/etc threads that provide useful information. should we try it?

[2021-09-28 02:05] AngelOnFira commented on #785
I think this is a good idea. The sections at the bottom are quite cookie-cut from the previous month's newsletter whenever I'm the lead editor. This will also be a good opportunity to add content that might not have had sections written about it?

[2021-10-02 15:01] yeahross0 commented on #783
I have an update for Weegames.

[2021-10-02 19:11] PsichiX commented on #783
taking `emergent`

[2021-10-03 15:46] AngelOnFira commented on #783
I'll take Garden :rose:

[2021-10-03 15:50] ozkriff commented on #783
Yeah, Garden is now known as Idu. I'll collapse the sections together.

I'm not 100% sure, but I vaguely recall that @logicsoup mentioned on DIscord that they wants to write it? It may be worth to clarify this.

[2021-10-03 15:52] Bromeon opened #797 "Explain how to run lints locally on command line"
The [Style Guidelines](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md#style-guidelines) mention:

For those who don't have an IDE/editor with the plugin, would it be possible to list the commands necessary to install and run MarkdownLint againt the project's config? For example, something like
[code]

This is less of an issue if the CI runs automatically on PRs

[2021-10-03 16:52] AngelOnFira commented on #783
Sounds good, I'll pull `Slides from GDC talk by Dan Olson` in the meantime.

[2021-10-03 20:55] MoleTrooper commented on #783
I'll add a bit about Starframe again :wave:

[2021-10-03 21:48] dabreegster commented on #783
I'm overloaded by project management; no A/B Street update, sorry.

[2021-10-04 08:32] johanhelsing commented on #783
I'll write about Matchbox :)

[2021-10-04 10:31] LechintanTudor commented on #783
I've written about Sparsey

[2021-10-04 11:31] ManevilleF commented on #783
I can write about `bevy_verlet`

[2021-10-04 17:40] mkiss-crey commented on #783
I'll write about Molecoole

[2021-10-04 17:41] Hilku commented on #783
I'll write about Molecoole

[2021-10-04 18:52] cwfitzgerald commented on #783
Taking `rend3` and the new `ktx2`. `imgui-wgpu` isn't needed, it's just a version bump update.

[2021-10-05 06:34] Keavon commented on #783
No update for Graphite this month, @TrueDoctor and I have been fully consumed by school but that should hopefully change pretty soon as we get back to regularly scheduled development progress and updates. We'll also try and opt in for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) if any folks want to contribute and get a free T-shirt. Maybe if someone would be willing to post a line at

[2021-10-05 09:14] mrDIMAS commented on #783
Taking rg3d, not sure if I can do it today though.

[2021-10-05 16:47] AngelOnFira commented on #783
Taking Borderlands 3 Save Editor :smiley:

[2021-10-05 16:48] olefasting commented on #783
Sorry for the late reply. I have been working on FishGame this month and been very busy with the new level editor. I'll have to wait until next month with a submission, which will probably be for the best, any ways, as I am hoping to release it to crates.io, around then (which means the API will be more or less determined)

[2021-10-06 07:44] Ralith commented on #783
Took hecs.

[2021-10-06 22:10] Dooskington commented on #783
I can throw together a section for Antorum Online today, thanks for the ping

[2021-10-10 16:12] ozkriff commented on #783
Also taking "pixels 0.6" and "KAS GUI v0.10".

[2021-10-10 18:24] ozkriff commented on #783
Final PR - https://github.com/rust-gamedev/rust-gamedev.github.io/pull/816 - everyone is invited to review. Merging in an hour if there're no objections.

[2021-10-10 20:51] ozkriff commented on #783
And it's out! https://gamedev.rs/news/026 :tada:

As always, huge thanks to all editors, contributors, and reviewers! :crab: :crab: :crab:

[2021-10-31 16:19] 17cupsofcoffee opened #818 "Newsletter 27 - October 2021"
# Newsletter 27: October 2021

###### tags: `newsletter`

**Editors**: @17cupsofcoffee, @ozkriff, and @AngelOnFira

Another month has gone by, so it's time to put together the Rust Gamedev newsletter for October!

If you want to help writing the newsletter:

- **Please read [CONTRIBUTING.md](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md).**
- Grab some of the "

[2021-10-31 16:39] AlbinSjoegren commented on #818
Hey!

I could write something about **SPV**, also please refer to [new](https://github.com/AlbinSjoegren/SPV/tree/main) instead of [1](https://github.com/AlbinSjoegren/SPV/tree/0.0.6).

/Albin Sjögren

[2021-10-31 16:41] AngelOnFira commented on #818
We should be able to remove the section about the Rust Graphics Meetup, since although it happened in October, we already discussed it in the [September newsletter](https://gamedev.rs/news/026/#rust-graphics-meetup-1) (unless @kvark has any new plans :+1:)

[2021-10-31 16:43] Vrixyz commented on #818
I'll make an entry about https://github.com/Vrixyz/graph_nav

[2021-10-31 16:49] 17cupsofcoffee commented on #818
@AngelOnFira Ah, I added it because I thought it was a monthly thing - if not, I'll remove it :)

[2021-10-31 16:55] ElhamAryanpur commented on #818
heya, I'd love to write about Blue Engine, however not much changed this month due to exams. next month and a half is expected to be spent towards exam too. Thanks!

[2021-10-31 19:06] kunos commented on #818
Will take the Hydrofoil Generation Sailing part.

[2021-10-31 21:16] cwfitzgerald commented on #818
I'll pick up rend3

[2021-10-31 23:02] djeedai commented on #818
Picking LD49 LibraCity via #822, thanks!

[2021-11-01 00:15] kpreid commented on #818
Since you asked me, I wrote a section on All is Cubes in #823.

[2021-11-01 00:30] eliotbo commented on #818
I'll introduce bevy_pen_tool.

Eliot

On Sun, Oct 31, 2021 at 12:19 PM Joe Clay ***@***.***> wrote:

[2021-11-01 12:52] smokku commented on #818
Picking Soldank and hecs_rapier

[2021-11-01 16:16] setzer22 commented on #818
I'll take _The Process_

[2021-11-01 23:09] danslocombe commented on #818
Hey I can write about Crunda :)

[2021-11-04 12:22] AngelOnFira commented on #818
Just sending out a ping in case you haven't seen this issue yet! (Sorry if you're already working on it :sweat_smile:) This month's "soft" deadline is the 6th :calendar:

@darthdeus @thebracket @tom-leys @not-fl3 @Bombfuse @NiklasEi @yopox @xlambein @necauqua @TanTanDev @tomaskralcz @ManevilleF @jonahplusplus @LPGhatguy @LechintanTudor @emilk @Shfty

[2021-11-04 22:15] LechintanTudor commented on #818
I'll take Sparsey :)

[2021-11-04 22:46] Bombfuse commented on #818
keep getting busy and forgetting, but I can throw a small snippet together for Berry Run tonight

[2021-11-05 13:02] halvnykterist commented on #818
I'd like to add a section for the game I've been working on, PaddlePunks.

[2021-11-05 19:56] PSteinhaus commented on #818
ggez 0.6.1 and gwg 0.3.0 were already covered in last months issue, so they can be removed from the list

[2021-11-07 11:43] 17cupsofcoffee commented on #818
Last call for sections! I will be posting the final PR later today.

[2021-11-07 15:34] 17cupsofcoffee commented on #818
I will pick up Amethyst, the gamedev mini symposium, and the meeting minutes/discussions section.

[2021-11-07 17:48] 17cupsofcoffee commented on #818
The release PR is now up at #846 - everyone is invited to review 🙂

Aiming to publish the newsletter later this evening all being well.

[2021-11-08 10:06] #818 closed

[2021-11-08 21:16] #758 closed

[2021-11-30 11:12] ozkriff opened #850 ""Other News" section"
It bugs me that lots of planned news are getting left out from the newsletter if no one claims them and at the same time forcing maintainers to write complete sections for everything is not sustainable.

Maybe we should try restoring the "Other News" section as a minimally prettified dump of [ ] items from the plan? Basically, just name, optional short description, and links so it wouldn't take mu

[2021-11-30 13:33] ozkriff commented on #24
Another [request from Twi](https://twitter.com/muhuk/status/1465664189226176513):

[2021-12-01 18:12] AngelOnFira opened #852 "Newsletter 28 - November 2021"
# Newsletter 28: November 2021

###### tags: `newsletter`

**Editors**: @AngelOnFira, @17cupsofcoffee, and @ozkriff

Another month has gone by, so it's time to put together the Rust Gamedev newsletter with November news!

If you want to help writing the newsletter:

- Read [CONTRIBUTING.md](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md).
- Grab some of the "🆓 *

[2021-12-01 18:31] parasyte commented on #852
Yup, I'll take `pixels` 0.8! 🦀

[2021-12-01 18:33] kunos commented on #852
Aye.. will do Hydrofoil Generation. :)

[2021-12-01 18:35] jakobwesthoff commented on #852
Yes, will do `Raytracer from Scratch`. 🦀 🔮

[2021-12-01 18:42] Bromeon commented on #852
I can do `godot-rust` 🤖🦀

[2021-12-01 21:27] Hilku commented on #852
I'll do ` Molecoole ` 🦀🦀

[2021-12-01 21:38] cart commented on #852
Bevy didn't have a release this month, so I'll hold off on sharing renderer updates.

[2021-12-02 05:21] Tarnadas commented on #852
I'll write about Shroom Kingdom

[2021-12-02 06:45] Im-Oab commented on #852
I have some updates for `Flesh` game. :)

[2021-12-02 17:13] AlbinSjoegren commented on #852
I will take `SPV` again, still no crate version so it would go under Tooling Updates again

[2021-12-02 17:17] dabreegster commented on #852
Sorry, I'm in the middle of moving continents and not likely to make an A/B Street update this month. Also the focus of the project hasn't been on gamification in quite a while, although there is some vague plan to try that again in the future (to get residents involved in planning low-traffic neighborhoods).

[2021-12-02 18:26] Bauxitedev commented on #852
I'll write a bit about **Bendyworm**.

[2021-12-02 18:31] p4ymak commented on #852
I'll write about **PickPicPack**.

[2021-12-03 01:43] PsichiX commented on #852
taking `oxygengine` and `navmesh`

[2021-12-03 08:25] LechintanTudor commented on #852
I covered Sparsey 0.5 in the last newsletter and 0.6 will take a bit more time to complete. So no update from me this time :)

[2021-12-03 10:21] PSteinhaus commented on #852
There's not that much to say about ggez 0.7.
I plan on releasing 0.8 this month though, so I'll probably write a bit about both releases in the december newsletter.

[2021-12-03 13:18] Syn-Nine commented on #852
I'll take Halloween Mahjong Solitaire, thanks for the mention!

[2021-12-04 16:52] h3r2tic commented on #852
Thanks for suggesting `kajiya` ❤ ... however I'd rather hold off on that until it actually goes open source. Supposed to be very soon now, but I'm still waiting for some approvals.

[2021-12-04 20:52] Ralith commented on #852
Took Quinn and hecs.

[2021-12-04 21:12] AngelOnFira commented on #852
@logicsoup just pinging in case @johann2 isn't able to do Idu :)

[2021-12-05 00:07] experiment9123 commented on #852
i can write a little update for 'Rust Shooter'

[2021-12-05 17:32] AngelOnFira commented on #852
Just a reminder to people that today is the deadline!

(@Tarnadas @experiment9123 @PsichiX @AlbinSjoegren @p4ymak)
Looks like you have sections as WIP for you

(@MasonRemaley @setzer22 @smokku @dezajno @I3ck @johann2 @vrmiguel @thebracket @raphlinus @Lokathor @harshvishu @mrDIMAS @not-fl3 @oskargustafsson @Keavon @ziyasal @RDambrosio016)
Looks like you have sections that you can take if you're ava

[2021-12-05 20:14] p4ymak commented on #852
Can't push my commit..
[code]
what am I doing wrong? = )

[2021-12-05 20:43] AlbinSjoegren commented on #852
Try doing a pull request and not a push (pull your fork).

[2021-12-05 21:06] AngelOnFira opened #872 "[Temp] Can't push my commit.."
Can't push my commit..
[code]
what am I doing wrong? = )

_Originally posted by @p4ymak in https://github.com/rust-gamedev/rust-gamedev.github.io/issues/852#issuecomment-986292813_

[2021-12-05 21:06] AngelOnFira commented on #872
@p4ymak Let me know here if you still need a hand pushing :)

[2021-12-05 21:14] p4ymak commented on #872
@AngelOnFira thank you! forked, pushed, pull requested

[2021-12-05 21:17] johann2 commented on #852
I'm doing Idu, I hope it's not too late

[2021-12-05 21:39] #872 closed

[2021-12-06 02:39] PsichiX commented on #852
got my job done for today, gonna need ~30 minutes to write my part :D

[2021-12-06 11:34] Keavon commented on #852
Finishing up writing Graphite's piece as soon as I wake up. Don't let this block the release though, proceed without it if I'm not done in time.

[2021-12-07 10:29] setzer22 commented on #852
No update from me this month, probably the next one! :smile:

[2021-12-07 12:11] 17cupsofcoffee commented on #636
Updated script with find-and-replace for the markdown files:

<details>
<summary>Script</summary>

[code]

</details>

I've tested this out locally with a few CSS tweaks, and it seems to work well (and vastly reduces the page download size, as the videos don't get preloaded):

![image](https://user-images.githubusercontent.com/784533/145026121-9a62fc0d-79c1-4b11-b888-f82c29e0dec1.png)

I think the

[2021-12-07 15:54] PsichiX commented on #852
btw. what are guides on ordering? bc i always place my notes in order defined in main issue, but sometimes my bits gets reordered.

[2021-12-07 16:12] AngelOnFira commented on #852
@PsichiX When I'm editor, I order content based on which PR is made first for each section, unless one requires changes, in which case I take it out of the queue :) Since this is resolved at merge-time, and often has to be changed anyways when I have to merge several PRs at the same time, I haven't explicitly stated it in writing.

I try to also use it as incentive for authors to get their posts d

[2021-12-07 16:13] AngelOnFira commented on #852
Taking Rustacean Station, Ralph's Posts, and Rust-Cuda

[2021-12-07 16:20] ozkriff commented on #852
I'll try to quickly write out "Combine And Conquer", "Endless Trial", "Hands-on Rust Bonus Content", and "Solid Editor".

[2021-12-07 18:13] PsichiX commented on #852
that's something worth noting in the newsletter issues or readme 😅

[2021-12-07 18:25] AngelOnFira opened #882 "Incentive for authors to get their posts done more quickly"
that's something worth noting in the newsletter issues or readme 😅

_Originally posted by @PsichiX in https://github.com/rust-gamedev/rust-gamedev.github.io/issues/852#issuecomment-988159320_

[2021-12-07 18:26] AngelOnFira commented on #882
@ozkriff @17cupsofcoffee I'm interested in your thoughts, since this re-ordering is something I've mostly done on my own. How do both of you handle section ordering? Is it worth adding some info about it to the template?

[2021-12-07 19:56] PsichiX commented on #882
ngl, personally if i knew FIFO ordering is used, i would prepare my nodes week before xD

[2021-12-07 20:07] ozkriff commented on #882
I thought that all the editors have agreed on FIFO ordering many newsletters ago after a discussion on DIscord.
At least I've trying to follow it for many months now

[2021-12-07 20:37] ozkriff commented on #636
yeah, losing GitHub previews still sounds like a really big downside to me :(

[2021-12-07 21:06] Bromeon commented on #882
What is somewhat inherent to the one-page format, but also causes a extra work (for both editors + authors), are the constant merge conflicts.

Maybe some alternative approaches should be brainstormed, e.g. having a "include" statement which is simply copy-pasting the contents of another .md file into its place? That would allow independent and parallel work. I'm not sure if there are any Zola or

[2021-12-07 21:16] ozkriff commented on #882
@Bromeon Personally, I love the simplicity of the current one-page format and that it's easy to preview on GitHub as-is.

:thinking: The authors aren't supposed to resolve any conflicts and for the editors it should take something like 10-30s cause the sections are modular and the conflict resolution before the merge is fairly easy even with GitHub's web UI.

[2021-12-07 21:17] AngelOnFira commented on #882
People always have the option of preparing their work before the month starts, or the issue comes out; it's no secret how it will work each month. The problem is that we tend to see more people submitting after the "soft deadline", which is normally several days into the month. That could extend across an entire workweek, but again, people can pre-emptily prepare if they want to have their section

[2021-12-07 21:41] Bromeon commented on #882
I see, thanks to both of you for that perspective!

What I'm not yet sure about are author PRs that need changes. I guess it's less stressful for editors if we provide PRs before the month ends. If some changes are requested only weeks later, it could still mean a lot of last-minute ping pong (and last place + merge conflicts for that entry) 🙂 but if it's not the rule, should be totally OK.

My ta

[2021-12-08 01:54] Keavon commented on #882
Just a thought: what if we could submit our content as markdown directly in a GitHub issue instead of dealing with the (franky very frustrating and laborious) process described below?

* Updating our existing but outdated fork (usually it's easiest to delete my entire fork and make a new one in GitHub)
* Cloning it to our computer (which is several hundred megabytes)
* Writing content
* Dealing wi

[2021-12-08 08:07] Bromeon commented on #882
@Keavon the disadvantage I see is that you can no longer preview it in Zola (locally) and no longer run CI. So it effectively moves more work from authors and automation to editors, which then have to manually put each entry through the linter and fix it or request changes.

But I agree that the linter is a bit strict. Is there maybe an option to [auto-correct some of the changes](https://github.c

[2021-12-08 08:10] Keavon commented on #882
How about removing the linter entirely? I see no point to having it. Markdown is meant for humans, not computers.

[2021-12-08 11:42] 17cupsofcoffee commented on #882
My thoughts:

* I also usually go with FIFO ordering unless one of the other editors specifically asks for it to change. The only time I generally reorder things when editing the newsletter is when multiple sections have a common 'theme' - e.g. i'll group all of the Ludum Dare games in a month together. I'm not 100% sure if we'd want to make this an explicit incentive, though? Promising people we

[2021-12-08 15:35] halvnykterist commented on #852
I'd like to add a section for paddlepunks if it's not too late!

[2021-12-08 17:43] AngelOnFira commented on #852
The final draft is up, feel free to take a look and comment on any issues you come across!

https://agitated-saha-af60ca.netlify.app/

[2021-12-08 18:14] PsichiX commented on #852
Rust CUDA seems to have missing link - `[Rust CUDA]`

[2021-12-08 18:19] AngelOnFira commented on #852
@PsichiX Sorry, can I get you to repost that on #887? My bad for not including the link :sweat_smile:

[2021-12-08 18:22] PsichiX commented on #852
i mean i's not mine, i just found weird formatting and dunno what the link is :D

[2021-12-08 18:22] PsichiX commented on #852
but i'll repost ;p

[2022-01-05 20:09] ozkriff opened #888 "Newsletter 29 - Dec 2021"
# Newsletter 29: December 2021

###### tags: `newsletter`

**Editors**: @ozkriff, @17cupsofcoffee, and @AngelOnFira

Another month has gone by, so it's time to put together the Rust Gamedev newsletter with December news!

If you want to help writing the newsletter:

- Read [CONTRIBUTING.md](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md).
- Grab some of the "🆓 *

[2022-01-05 20:16] kunos commented on #888
I'll pass for this month, wgpu port for Hydrofoil Generation is not done yet, nothing much to say.
Looking forward to write something for next newsletter.

[2022-01-05 20:19] Enet4 commented on #888
Absolutely! I already started work on the section.

[2022-01-05 20:30] CleanCut commented on #888
Er, December? 😄

I'll add a thing about the Rusty Engine 3.0 release!

[2022-01-05 22:00] CleanCut commented on #888
I don't see a `/content/news/29/index.md` file to add anything to. Who adds that?

[2022-01-05 22:10] 17cupsofcoffee commented on #888
@CleanCut: Whoops, that should have been done as part of #852 - I will raise a PR to add it now.

[2022-01-05 22:13] 17cupsofcoffee commented on #888
Actually, I apparently have `source` branch powers, so I committed it directly (it's just a copy and paste of the template so hopefully @ozkriff won't be mad at me :p). Should be good to go now!

[2022-01-05 22:14] #852 closed

[2022-01-05 22:45] CleanCut commented on #888
@17cupsofcoffee Thanks! Made my PR in #889

[2022-01-06 09:16] setzer22 commented on #888
I'd be happy to write up a piece on [Blackjack](https://www.reddit.com/r/rust_gamedev/comments/rufvlc/meet_blackjack_a_3d_procedural_modelling/) if you think that fits?

[2022-01-06 11:27] Bromeon commented on #888
We will skip a godot-rust update this time, most changes in December were internal and not that interesting.
Will follow up for January 🙂

[2022-01-06 11:29] AlbinSjoegren commented on #888
Nothing big on SPV, working on a report featuring it but no big updates this month.  No need to have it in this month.

[2022-01-06 16:03] TheFern2 commented on #888
Thanks for the shoutout my [Rust Setup for Windows MSVC](https://www.youtube.com/watch?v=nnojR-8PT4M) is specifically for MSVC toolchain. I've also updated the [rust-sfml wiki](https://github.com/jeremyletang/rust-sfml/wiki/Windows) as per my video. If anyone finds any issues don't hesitate to contact me fernandobe+git@pm.me

[2022-01-06 18:23] HindrikStegenga commented on #888
I added a small section about my ECS crate in #896.

[2022-01-08 13:12] AngelOnFira commented on #888
I'll aim to do Veloren and the gamedev meetup after today's meetup. I might also take some other sections if I have the energy :)

[2022-01-08 13:23] Keavon commented on #888
Will write up the article for Graphite in the hours after the meetup.

[2022-01-08 19:46] mkiss-crey commented on #888
I'll write about Molecoole soon.

[2022-01-08 19:47] Hilku commented on #888
I'll write about Molecoole soon.

[2022-01-09 00:19] h3r2tic commented on #888
I'll take `kajiya`!

[2022-01-09 02:23] AngelOnFira commented on #888
No meeting minute updates for December!

[2022-01-09 07:23] anopara commented on #888
Hope I'm not late yet! I can write about `country-slice`

[2022-01-09 08:32] Keavon commented on #888
Working on the Graphite section now. It'll be a couple hours if history is precedent.

[2022-01-12 11:05] ozkriff commented on #888
Sorry for the delay, I'll try to prepare the final draft and release the issue later today.

I guess no more contributions are coming at this point, so I'm taking all the unclaimed sections to either write their sections (if they have enough content) or put them into the Other News section as oneliners.

[2022-01-19 22:23] ozkriff commented on #888
Sorry for the delay, here's the release: https://gamedev.rs/news/029!

[2022-01-23 14:50] #888 closed

[2022-01-24 13:39] #850 closed

[2022-01-24 13:40] ozkriff commented on #850
Done:
https://gamedev.rs/news/027#other-news
https://gamedev.rs/news/028#other-news
https://gamedev.rs/news/029#other-news

[2022-02-01 19:51] 17cupsofcoffee opened #912 "Newsletter 30 - January 2022"
# Newsletter 30: January 2022

###### tags: `newsletter`

**Editors**: @17cupsofcoffee, @ozkriff, and @AngelOnFira

Another month has gone by, so it's time to put together the Rust Gamedev newsletter with January news!

If you want to help writing the newsletter:

- Read [CONTRIBUTING.md](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md).
- Grab some of the "🆓 **f

[2022-02-01 19:57] Friz64 commented on #912
I'd like to write about my [erupt-bootstrap](https://gitlab.com/Friz64/erupt-bootstrap) Vulkan init library.

[2022-02-01 19:58] Bombfuse commented on #912
Missed last month, but I can do an update on the release of Harvest Hero Origins! 👍

[2022-02-01 20:03] CleanCut commented on #912
I'll do the section for Rusty Engine 4.0.

One observation about the top comment: `The soft deadline for all section PRs is the 8th of Jan.` -> a deadline in the future would probably be more effective. 😉

[2022-02-01 20:09] 17cupsofcoffee commented on #912
you saw nothing 🥷

(thanks for the heads up!)

[2022-02-01 20:14] kunos commented on #912
Will do Hydrofoil Generation.

[2022-02-01 21:05] JustinRyanH commented on #912
Will do Refactoring from Legion to Bevy

[2022-02-01 21:05] Bromeon commented on #912
Wrote **godot-rust** 🤖🦀

[2022-02-01 21:18] cart commented on #912
I'll take bevy!

[2022-02-01 21:19] james7132 commented on #912
I'll take bevy_backroll!

[2022-02-01 21:31] r4gus commented on #912
I'll take nodus

[2022-02-01 21:51] CleanCut commented on #912
Rusty Engine 4.0 done in https://github.com/rust-gamedev/rust-gamedev.github.io/pull/914

[2022-02-02 00:15] ramirezmike commented on #912
I'll write about Not Snake!

[2022-02-02 00:48] Im-Oab commented on #912
I added the current development status of `Flesh`. #916

[2022-02-02 04:12] alice-i-cecile commented on #912
I'm not sure petitset is worth including right now; it's extremely specialized and only incidentally related to gamedev. I'll do a write-up for leafwing-input-manager though.

[2022-02-02 17:35] eexsty commented on #912
I'd like to write about about my ezinput lib.

[2022-02-03 02:25] alice-i-cecile commented on #639
As a writer, I found this somewhat silly and frustrating. I would be in favor of bumping this up to something more moderate (e.g. 120 characters) or removing it entirely.

[2022-02-03 10:13] zakarumych commented on #912
I'll cover Edict

[2022-02-03 18:42] AngelOnFira commented on #639
As the weekly Veloren devblog editor, I didn't actually start forcing myself to limit line length for quite a while. However, I found that I much prefer it in my workflow.

Example from Veloren, [before line length](https://gitlab.com/veloren/site/-/raw/master/content/blog-2019-04-22.md), and [after line length](https://gitlab.com/veloren/site/-/raw/master/content/blog-2021-01-25.md).

I do want t

[2022-02-04 06:52] ozkriff commented on #785
I guess it's done.

[2022-02-04 06:52] #785 closed

[2022-02-04 19:57] AngelOnFira commented on #912
I'll take "writing an AH Scanner in Rust"

[2022-02-07 15:34] 17cupsofcoffee commented on #912
⏰ **Reminder: the soft deadline for this month's newsletter is tomorrow!**

If you'd like to write a section, please try to get the PR submitted in the next 24 hours if you can (or let us know if you need more time).

[2022-02-08 15:58] johanhelsing commented on #912
@17cupsofcoffee I'll be able to write short entries for bevy_smud and extreme_bevy in a couple of hours if it's not too late.

[2022-02-08 18:55] 17cupsofcoffee commented on #912
**The release PR is now up for everyone to review: https://github.com/rust-gamedev/rust-gamedev.github.io/pull/941**

[2022-02-08 22:32] Keavon commented on #912
Planning to submit the PR tonight announcing Graphite's imminent alpha release.

[2022-02-08 22:44] 17cupsofcoffee commented on #912
@Keavon Sorry, I hit merge on the release PR before seeing this 😩

How soon do you think you'll be able to submit your PR? I can hold off on the announcements if it's coming soon, but I'd really like to get stuff done before it gets too late in my timezone.

[2022-02-08 23:20] 17cupsofcoffee commented on #912
I've reverted the release for now.

[2022-02-08 23:22] Keavon commented on #912
Ah, sorry to hold you up, didn't mean to cause you trouble. These time zones are hard to think through (it's only 3 PM here in the US-Pacific, on the 8th).

I am working on writing it now so I expect it will take an hour or two (the length limit makes it kinda slow to write). I'll do my best to be quick with it!

[2022-02-08 23:45] 17cupsofcoffee commented on #912
@Keavon: No problem - I may have to leave the release till tomorrow in that case, as it's nearly midnight where I am and it'll take me a bit of time to do the social media posts that go with it.

[2022-02-09 21:25] 17cupsofcoffee opened #945 "Files are not properly deleted from GitHub Pages"
I noticed after reverting a change for #912 that when a file is removed from the Zola output, it doesn't get deleted from the `master` branch - this means that the removed content remains accessible on the site.

For example, I reverted the publishing of newsletter 30 to give people more time to submit, but the HTML for it is still accessible if you have a direct link.

This is apparently an issue

[2022-02-13 14:08] #912 closed

[2022-03-02 01:20] AngelOnFira opened #949 "Newsletter 31 - February 2022"
# Newsletter 31: February 2022

###### tags: `newsletter`

**Editors**: @AngelOnFira, @17cupsofcoffee, and @ozkriff

Another month has gone by, so it's time to put together the Rust Gamedev newsletter with February news!

If you want to help writing the newsletter:

- Read [CONTRIBUTING.md](https://github.com/rust-gamedev/rust-gamedev.github.io/blob/source/CONTRIBUTING.md).
- Grab some of the "🆓 *

[2022-03-02 08:06] DomWilliams0 commented on #949
I've opened #950 for my game Name Needed

[2022-03-02 20:00] Im-Oab commented on #949
I will skip this month. ‘Flesh’ doesn’t have any updates that I can show.

[2022-03-02 22:13] Bromeon commented on #949
We will skip godot-rust this time.

[2022-03-03 06:32] LechintanTudor commented on #949
I'll take Sparsey

[2022-03-03 08:47] cart commented on #949
I'll take Bevy Jam.

[2022-03-03 08:48] Hilku commented on #949
I'll take Molecoole

[2022-03-03 08:49] lukors commented on #949
When are the soft and/or hard deadlines?

[2022-03-04 16:15] AngelOnFira commented on #949
@lukors Just updated the issue details, I've set it to the 6th of March :)

[2022-03-04 17:06] AlbinSjoegren commented on #949
@AngelOnFira

[2022-03-05 01:02] AngelOnFira commented on #949
@AlbinSjoegren let's do tooling, it looks like that's what it was in the past, so it should be good there. The lines are a bit blurred for some projects.

[2022-03-06 13:54] Nazariglez commented on #949
I'll take Notan, thanks for the heads up.

[2022-03-06 17:09] lukors commented on #949
I'll do Vismut.

[2022-03-06 18:03] yeahross0 commented on #949
I will have an update for Weegames.

[2022-03-06 18:23] anopara commented on #949
Thanks for the mention, but saw it too late and won't have time before end of today :( Will do one for the next month!

[2022-03-06 20:51] lukors commented on #949
This issue is not marked with the "coordination" label.

[2022-03-06 21:01] Keavon commented on #949
Submitting Graphite in a few hours.

[2022-03-07 05:33] sdfgeoff commented on #949
Regarding `blender_bevy_toolkit`, I'd probably like to wait until a future release before writing an article in the newsletter.

The project is very close to being usable and I'd like the initial presentation in the newsletter to be "Here's the blender bevy toolkit, and here's a small game made with it". I think I'm about a month or so out from that point.

[2022-03-07 08:39] Keavon commented on #949
Actually I'll skip Graphite for this month, we've mostly been focused on planning rather than much development.

[2022-03-07 11:58] johanhelsing commented on #949
I wrote a small blurb on dis-order, if it's not too late

[2022-03-07 18:21] AngelOnFira commented on #949
Alright, I've been quite absent so far this month, but I'll be going over PRs today :+1:

[2022-03-07 19:01] zeskeertwee commented on #949
#955 is ready for review now!

[2022-03-08 00:59] AngelOnFira commented on #949
There are still lots of sections to take if anyone has time to take some. I'll try to take some tomorrow.

[2022-03-08 02:01] sanbox-irl commented on #949
I will take cosync tomorrow!

[2022-03-08 07:51] Keavon commented on #949
I went ahead and did one for Graphite anyways. #966

[2022-03-09 16:32] AngelOnFira commented on #949
Alright, I've gone ahead and added several more sections. Once these have been approved and merged, I'll move forward with the final draft. I'm aiming to get this released within the next 12 hours, but it might end up being tomorrow, we'll see.

[2022-03-09 21:47] NiklasEi commented on #949
If still possible I would like to add a short entry about the latest `bevy_asset_loader` update and a related blog post. I will open the PR in a bit. No hard feelings, if I am too late :slightly_smiling_face:

[2022-03-09 23:36] AngelOnFira commented on #949
I'm not quite done with some of the bottom sections yet, but everyone is invited to check out #974! Looking at a release tomorrow it seems :100:

[2022-03-14 21:04] AngelOnFira commented on #949
Thanks for another great month, everyone! See you next time :)

[2022-03-14 21:04] #949 closed

[2022-04-01 17:59] 17cupsofcoffee opened #979 "Newsletter 32 - March 2022"
**Editors:** @17cupsofcoffee, @AngelOnFira and @ozkriff

Another month has gone by, so it's time to put together the Rust Gamedev newsletter with March's news!

*Note: I'm trialling a slightly updated template for the co-ordination issue this month - let me know if you have any feedback!*

## Current Schedule

**The deadline for all section PRs is the 9th of April.**

We *may* still accept PRs tha

[2022-04-01 18:14] kettle11 commented on #979
I'll take `terrain_generator` and `Bloom3D`.

A question: How do people usually edit their submissions? Using GitHub's markdown editor is nice and easy but there's no way to check the line-width (right? which makes it a bit of a pain. Do most people `Clone` and use a code-editor that automatically wraps based on a configurable line-width?

[2022-04-01 18:21] 17cupsofcoffee commented on #979
@kettle11 - I agree it's mega awkward that GitHub doesn't expose this 😢

I generally just open a new file in VS Code, write my section there and then copy and paste it into the web editor.

[2022-04-01 19:22] henryksloan commented on #979
I'll take rust-nonogram.

[2022-04-02 08:54] nicopap commented on #979
I'd be more than happy to take the Warlock's Gambit section.

[2022-04-02 17:32] Enet4 commented on #979
Yup, I'm on it.

[2022-04-02 17:58] HackerFoo commented on #979
I'll do this section, thanks.

[2022-04-04 11:35] Sheepyhead commented on #979
I'd like to write about my bevy_match3 library, thanks for the opportunity!

[2022-04-04 15:16] Bombfuse commented on #979
will take HHO 👍

[2022-04-07 02:47] ramirezmike commented on #979
I'll write about Mechaburro

[2022-04-07 10:22] 17cupsofcoffee commented on #979
I've pushed the deadline back to the 9th as I don't think I'll have time to properly review/write sections until the weekend.

[2022-04-07 12:58] AngelOnFira commented on #979
Working on Veloren + Meetup + Podcast now :+1:

[2022-04-07 14:57] AngelOnFira commented on #979
Working on "Intro to Bevy Video Tutorial Series" from Reddit

[2022-04-09 10:39] Nazariglez commented on #979
Notan done, thanks for the heads up!

[2022-04-09 11:17] 17cupsofcoffee commented on #979
**⏰ Reminder that today is the deadline for sections!** I'm probably going to aim to get everything merged tonight, and then do the final review/release tomorrow.

I'm going to pick up the Tetra sections and the rest of the Bevy Jam section.

[2022-04-09 15:41] Keavon commented on #979
Working on Graphite today.

[2022-04-09 17:43] cdsupina commented on #979
Working on cheaters never win today.

[2022-04-09 19:02] 17cupsofcoffee commented on #979
@cdsupina: I just merged a section for all the Bevy Jam games, but please feel free to extend it/tweak it!

[2022-04-09 19:51] nxsy commented on #979
@17cupsofcoffee, @AngelOnFira and @ozkriff

Any objection to me submitting a pull request to add this analysis of the Bevy Jam entries I did with the Bevy Jam results section: https://techgeneral.org/bevy-jam-1-data-exploration/

[2022-04-09 20:00] AngelOnFira opened #997 "N32: Bevy Jam Analysis"
@17cupsofcoffee, @AngelOnFira and @ozkriff

Any objection to me submitting a pull request to add this analysis of the Bevy Jam entries I did with the Bevy Jam results section: https://techgeneral.org/bevy-jam-1-data-exploration/

_Originally posted by @nxsy in https://github.com/rust-gamedev/rust-gamedev.github.io/issues/979#issuecomment-1094114842_

[2022-04-09 20:01] AngelOnFira commented on #997
@nxsy I think this would be really cool! I'd say go for it, and we can figure out how to rearrange it once we get the PR :)

Do note that it will have to be expedited, since we're finalizing the draft in the next few hours I believe :+1:

[2022-04-09 22:21] MasonRemaley commented on #979
If it's not too late I'll have an update on Way of Rhea in ~30 minutes, sorry for doing it last minute! :)

[2022-04-10 09:37] #997 closed

[2022-04-10 15:38] AngelOnFira opened #1004 "Enable fancy unicode"
I think it's just for consistency (other people generally don't bother going to the effort of doing the fancy punctuation).

That being said, I just spotted that we can make our static site generator automatically do the ASCII-to-fancy-unicode translation if we want ([`smart_punctuation`](https://www.getzola.org/documentation/getting-started/configuration/) setting), so we might want to look at tu

[2022-04-10 15:40] AngelOnFira commented on #1004
I don't particularly have a preference if it is pretty well supported. It seems like it would be a good idea :)

[2022-04-10 16:37] 17cupsofcoffee commented on #979
All of the outstanding sections PRs have merged now - will try to get the Other News section + remaining jobs done this evening, then will raise the final review PR.

[2022-04-10 19:45] cart commented on #979
Thanks for picking up the Bevy Jam section @17cupsofcoffee! Things have been hectic lately (both on the bevy side and the life side).

[2022-04-17 17:13] #979 closed

[2022-05-01 16:09] ozkriff commented on #945
Originally, I enabled keep_history so it'd be easier to double-check the actual changes in Zola's output (I had a couple of issues with my own blog and early Zola). But it seems like Zola has been behaving well for quite some time now, so I don't mind disabling keep_history.

[2022-05-01 23:23] AngelOnFira opened #1010 "Newsletter 33 - April 2022"
# Newsletter 33: April 2022

###### tags: `newsletter`

**Editors:** @AngelOnFira, @17cupsofcoffee and @ozkriff

Another month has gone by, so it's time to put together the Rust Gamedev newsletter with April's news!

## Current Schedule

**The deadline for all section PRs is 8th April.**

We *may* still accept PRs that are submitted later than this, as long as they're ready before the newsletter's

[2022-05-01 23:33] HackerFoo commented on #1010
I would like to work on the section on Noumenal. Thanks.

[2022-05-01 23:35] kanerogers commented on #1010
I can do a section on engine updates for Hotham! 😀

[2022-05-02 00:06] paytonrules commented on #1010
I'd like to add a reference to a new book [Game Development with Rust and WebAssembly](https://amzn.to/3vTk9gh) to the learning materials. I wrote it so if that's inappropriate I won't.

[2022-05-02 00:43] markusmoenig commented on #1010
I will do the Eldiron section, thanks!

[2022-05-02 01:12] AngelOnFira commented on #1010
@paytonrules it should be fine :)

[2022-05-02 09:11] HeavyRain266 commented on #1010
I would like to work on section with "Why I choose to build my game from scratch" since it's my own post.

[2022-05-02 10:10] #945 closed

[2022-05-02 14:20] lukors commented on #1010
I'll do Vismut, and the github username for it is me. :)

[2022-05-03 20:40] cart commented on #1010
Just grabbed Bevy 0.7

[2022-05-05 07:21] shosanna commented on #1010
Hey, I will write about BITGUN as we just released the game! :)

[2022-05-05 11:43] FredrikNoren commented on #1010
Just added a PR for Dims

[2022-05-05 14:34] paytonrules commented on #1010
Thanks! PR is opened.

[2022-05-07 19:04] Nazariglez commented on #1010
Added PR for Notan, thanks!

[2022-05-08 13:25] AngelOnFira commented on #1010
@kettle11 @kanerogers @setzer22 @kuviman @hedgein @PhaestusFox @HackerFoo
@Keavon @Sorenon @sanbox-irl @Nazariglez

Just sending out a ping to remind that today is the deadline for sections of the blog :)

[2022-05-08 13:30] Nazariglez commented on #1010
Hey! Notan is already merged #1020, I cannot change the checklist. Thanks for the ping!

[2022-05-08 16:16] Bromeon commented on #1010
Added short entry about our LD50 game: #1022.
Sorry for the last-minute submission!

[2022-05-08 22:37] HackerFoo commented on #1010
I don't have much to announce for Noumenal, so I'm going to hold off until next month. Thanks.

[2022-05-10 00:46] cdsupina commented on #1010
If it's there is still time I would like to mention my RustConf arcade cabinet project in this newsletter to get the word out.
https://twitter.com/carlosupina/status/1523715837726961664

[2022-05-10 04:03] kanerogers commented on #1010
@AngelOnFira Done! My first time doing this sort of thing, hope I didn't muck it up:

 https://github.com/rust-gamedev/rust-gamedev.github.io/pull/1025

[2022-05-10 10:37] 17cupsofcoffee commented on #1010
@cdsupina: Tricky one 😆 I'd probably put it under game updates,

[2022-05-10 22:21] AngelOnFira commented on #1010
My current plans are to spend a decent amount of tomorrow morning finalizing the existing PRs, and writing a few sections that haven't been covered yet. Expect a final review :)

[2022-05-13 05:23] Keavon commented on #1010
Is there somewhere we could add the new [blog post](https://graphite.rs/blog/distributed-computing-in-the-graphene-runtime/) for Graphite that we posted today? I've maxed out the word count in the section. But maybe there's a relevant list near the bottom (perhaps described as seeking comments about the blog post in the "Discussions" section?).

[2022-05-13 05:40] ozkriff commented on #1010
@Keavon since it was released today and doesn't seem to focus on April updates only, I guess it's better to include it in the May newsletter issue?

[2022-05-13 05:42] ozkriff commented on #1010
Taking the "Other News" section to help out with the newsletter completion

[2022-05-13 05:49] Keavon commented on #1010
I wouldn't be opposed to waiting a month if we're sticking to the month designation. (I sort of assumed it was "most of April through early May" and abbreviated to the "April newsletter".)

[2022-05-13 07:42] ozkriff commented on #1010
The original idea was that the coordination issue should be created around 27th and the release should happen on 1st..3rd. But in practice, the dates keep slipping. I'd like to better stick to month boundaries too - I'll be the releasing editor next month and will try my best about it.

[2022-05-13 20:09] AngelOnFira commented on #1010
The final review is up for anyone that wants to look it over :tada:

https://github.com/rust-gamedev/rust-gamedev.github.io/pull/1029

[2022-05-27 20:22] #1010 closed

[2022-05-27 20:24] ozkriff opened #1033 "Newsletter 34 - May 2022"
# Newsletter 34: May 2022

###### tags: `newsletter`

**Editors:** @ozkriff, @17cupsofcoffee, and @AngelOnFira

Another month has gone by, so it's time to put together the Rust Gamedev newsletter with May's news!

## Current Schedule

**The deadline for all section PRs is 2022.05.31.**

We *may* still accept PRs that are submitted later than this, as long as they're ready before the newsletter's r

[2022-05-27 20:42] ChristopherBiscardi commented on #1033
Happy to take on the piece for "Video: Starting a new 2d platformer with ECS".

[2022-05-27 21:16] flukejones commented on #1033
I can write about rusty doom (room4doom) I guess.
The repo is [here](https://gitlab.com/flukejones/room4doom), and mirrored [here](https://github.com/flukejones/room4doom)

[2022-05-28 06:58] filtoid commented on #1033
I can write about the Rusteroids tutorial

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Luke Jones ***@***.***>
Sent: Friday, May 27, 2022 11:16:28 PM
To: rust-gamedev/rust-gamedev.github.io ***@***.***>
Cc: Filtoid ***@***.***>; Mention ***@***.***>
Subject: Re: [rust-gamedev/rust-gamedev.github.io] Newsletter 34 - May 2022 (Issue #1033)

I can write about

[2022-05-28 09:04] orhun commented on #1033
Hey, I just saw that my [battleship game](https://github.com/orhun/battleship-rs/) is on the list. Do I need to submit a PR to add it to this months newsletter or is it going to be in the "Other" section or something?

[2022-05-28 09:41] ozkriff commented on #1033
@orhun yeah, you're welcome to submit a PR!
(the ["Other News"](https://github.com/rust-gamedev/rust-gamedev.github.io/issues/850) section is for stuff that no one has written about)

[2022-05-28 13:40] makspll commented on #1033
Happy to write about bevy_mod_scripting, thanks for the shoutout!

[2022-05-28 23:49] 4JX commented on #1033
Can I delay the mention of my project for a future issue? I feel it's not *quite* ready for prime-time yet.

[2022-05-28 23:54] mwbryant commented on #1033
I can handle my bevy shader videos, I actually just finished the 3 part series so it will fit nicely

[2022-05-29 08:31] ozkriff commented on #1033
@4JX sure! removed from the current plan.

[2022-05-29 08:49] kunos commented on #1033
will add a section on Hydrofoil Generation

[2022-05-30 02:43] shnewto commented on #1033
👋 I've got a blurb for limbo pass I'll PR shortly

[2022-05-30 05:46] HangingClowns commented on #1033
Am I supposed to do something?

[2022-05-31 09:30] h3r2tic commented on #1033
❤️ I'll do a `kajiya` one next month instead -- I was hoping to release a major update in the past few days, but it's gonna slip until the next weekend instead, thus June.

[2022-05-31 10:32] gavlig commented on #1033
I'll hopefully contribute with `Gryazevichki` for the next issue. At this stage i only have a few gifs of wip stuff but nothing is finished or ready for viewing yet. and the old published version is not worth another article imho.

[2022-05-31 10:38] ozkriff commented on #1033
@h3r2tic @gavlig sure, removed from the current plan!

@HangingClowns you're invited to contribute a section about https://rustacean-station.org/episode/066-eric-smith podcast episode if you want. If no one volunteers to write about it, it'll be mentioned only as a one-liner in the "Other news" section ([example](https://gamedev.rs/news/033/#other-news)).

[2022-06-02 13:40] AngelOnFira commented on #1033
Taking "Comparing a Voxel Game in F# and Rust"

[2022-06-03 14:20] cdsupina commented on #1033
I just got back from vacation, I wanted to leave an update on the status of the rustconf arcade cabinet. Since it ended up in the announcements section for n33 I was going to place it there.

[2022-06-04 13:14] Nazariglez commented on #1033
Just added Notan, thanks!

[2022-06-07 22:11] 64kramsystem commented on #1033
Hi there!

I have two entries I'd like to add:

1. I've just today completed my project of porting 4 games each using a different pure-Rust game engine
2. My work in progress tutorial about Bevy's ECS

Should I add them, or wait for the next month (or Godot? :grin:)

[2022-06-08 01:48] AngelOnFira commented on #1033
@64kramsystem feel free to add the sections, it's normally ok until we get to the final review phase :)

[2022-06-08 17:06] ozkriff commented on #1033
Final PR - https://github.com/rust-gamedev/rust-gamedev.github.io/pull/1060 - everyone is invited to review! Merging in an hour if there're no objections.

[2022-06-08 19:48] ozkriff commented on #1033
It's out! Huge thanks to all editors, contributors, and reviewers!

:tada: https://gamedev.rs/news/034 :tada:

[2022-06-18 11:21] #1033 closed

[2022-06-27 19:31] 17cupsofcoffee opened #1065 "Newsletter 35 - June 2022"
# Newsletter 35: June 2022

###### tags: `newsletter`

**Editors:** @17cupsofcoffee, @AngelOnFira, and @ozkriff

Another month has gone by, so it's time to put together the Rust Gamedev newsletter with June's news!

## Current Schedule

**The deadline for all section PRs is the 3rd of July.**

We *may* still accept PRs that are submitted later than this, as long as they're ready before the newslet

[2022-06-27 19:42] h3r2tic commented on #1065
I'll take `kajiya`! 🥳 Thanks for including me 🥰

[2022-06-27 19:48] kettle11 commented on #1065
I appreciate the inclusion! But Bloom doesn't have any released features this month that merit an update. The linked Tweet is a preview of something upcoming that's not yet released.

[2022-06-27 20:20] JMS55 commented on #1065
I will write about [botnet](https://github.com/JMS55/botnet) - a multiplayer wasm scripting game.

[2022-06-27 21:28] nobbele commented on #1065
I'll take `ggez`

[2022-06-27 21:32] bitshifter commented on #1065
I can take `glam`, thanks for the mention :)

[2022-06-28 00:59] Seldom-SE commented on #1065
I'll take Star Machine. Thanks!

[2022-06-28 01:52] Ralith commented on #1065
Taking psf2.

[2022-06-28 05:46] klemola commented on #1065
I'll take vetovoima. Delighted to see it on the list!

[2022-06-28 06:22] kunos commented on #1065
I'll do Hydrofoil Generation.. thx for including it

[2022-06-28 07:10] baehyunsol commented on #1065
I'll take `Quoridor-rs`. Thanks for including mine!

[2022-06-28 09:08] filtoid commented on #1065
I'm afraid I'm away at the moment, and Rusteroids is taking a bit of a break as a result. I'll have something for next month in the form of an update.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: baehyunsol ***@***.***>
Sent: Tuesday, June 28, 2022 9:10:51 AM
To: rust-gamedev/rust-gamedev.github.io ***@***.***>
Cc: Filtoid ***@***.***>; Mention ***@***.***

[2022-06-28 11:48] tung commented on #1065
I'll do RuggRogue. Thanks!

[2022-06-28 12:02] 64kramsystem commented on #1065
Hi there! I'll take the one assigned to me, which is actually also a group of games :smile: I'll also add my Bevy ECS tutorial, which is almost complete, and will be completed by the time the Newsletter is released.

[2022-06-28 18:41] Bombfuse commented on #1065
I'll take HHO! Will try and get something finished by EOW

[2022-06-28 19:28] eexsty commented on #1065
I'll take `ezinput`! Thanks for the opportunity :smile:

[2022-06-28 21:15] HackerFoo commented on #1065
I'll take Noumenal. Thanks!

[2022-06-29 19:46] aevyrie commented on #1065
First time being pinged for the newsletter, can I ask why this release of bevy_mod_picking was added to this list?

[2022-06-29 20:12] 17cupsofcoffee commented on #1065
@aevyrie: We generally gather the links for the newsletter outline from:

* Twitter
* /r/rust and /r/rust_gamedev on Reddit
* Various Rust Discord servers

If something's included, it just means one of us happened to see it and thought it was interesting :)

Important to mention: there's no obligation to contribute! We just ping people as a heads up in case they want to write about their project.

[2022-06-30 20:39] not-fl3 commented on #1065
I'll do miniquad update
(not in the list, but there are some updates!)

[2022-07-01 09:43] PhaestusFox commented on #1065
I hoping to be done with my user input mini-series of bevy basics so ill do that. thanks for including me

[2022-07-02 14:00] philpax commented on #1065
Hi there! I'll take the game update for DIMS on behalf of @FredrikNoren - will get that in soon!

[2022-07-03 14:16] Keavon commented on #1065
I'll be submitting for Graphite tonight.

[2022-07-03 23:53] lunabunn commented on #1065
Thank you so much for the inclusion! I don't think I'll be able to get the PR in in time for this month since I'm going on a 14-hour-long plane trip tomorrow, but I'll hopefully have something next month :-)

[2022-07-05 00:21] MasonRemaley commented on #1065
Whoops was away from home and didn't see this in time--leaves more updates for next month's. :)

[2022-07-05 02:17] alice-i-cecile commented on #1065
Oops... Same here. I've been busy; I'll leave a note about `taffy` in next month :)

[2022-07-05 16:56] 17cupsofcoffee commented on #1065
Aiming to get the release PR posted tonight if I can - if you have any last minute submissions, please try to get them done soon!

[2022-07-06 17:27] 17cupsofcoffee commented on #1065
_and as usual by tonight I mean tomorrow_

The release PR and preview is ready for review: https://github.com/rust-gamedev/rust-gamedev.github.io/pull/1092

[2022-07-06 17:48] cdsupina commented on #1065
If there is still time I would like to get the arcade cabinet mentioned. I can do it today after work.

[2022-07-09 20:24] #1065 closed

[2022-07-29 18:07] ozkriff opened #1098 "Newsletter 36 - July 2022"
# Newsletter 36: July 2022

###### tags: `newsletter`

**Editors:** @ozkriff, @AngelOnFira, and @17cupsofcoffee

Another month has gone by, so it's time to put together the Rust Gamedev newsletter with TODO's news!

## Current Schedule

The soft deadline for all section PRs is the 3rd of August.

We *may* still accept PRs that are submitted later than this, as long as they're ready before the news

[2022-07-29 18:09] filtoid commented on #1098
I'll take Rusteroids, I've got a couple of updates for it.

[2022-07-29 18:27] nicopap commented on #1098
- [`bevy_fbx`](https://github.com/HeavyRain266/bevy_fbx) an in-development and incoming plugin for the bevy game engine to load FBX files (@HeavyRain266 and me)
- AFAIK bevy 0.8 will be released before the newsletter is published

[2022-07-29 18:48] philpax commented on #1098
I'll write an update for Dims (game engine), as I did last time. (By the way - the deadline says 3rd of April, I assume that's meant to be August?)

[2022-07-29 18:58] JMS55 commented on #1098
I'll be writing about https://github.com/JMS55/botnet again this month.

[2022-07-29 19:18] PROMETHIA-27 commented on #1098
I've taken `bevy_mod_wanderlust`

[2022-07-29 22:06] lucaspoffo commented on #1098
When is the deadline? It's wrong in the description, `3rd of April`.

[2022-07-29 23:09] grantshandy commented on #1098
Hello, thanks for considering my project **[fdg](https://github.com/grantshandy/fdg)** for this newsletter. I should let you know that it really doesn't have much to do with game development though, **it's more in the data visualization space**.

If it still sounds like something you all want to mention in the newsletter I'm happy to see it put out there, but I just wanted to let you all know it's

[2022-07-29 23:21] ChristopherBiscardi commented on #1098
I'll take on the two videos I'm tagged for.

[2022-07-30 03:10] mystal commented on #1098
I'll write about _Re-Rolling!_, my GMTK Jam game that I'm tagged for.

[2022-07-30 10:36] Elogain commented on #1098
Hello!

`This is not an exhaustive list - if you have your own project that you want to write about, just make a comment on this issue and open a PR!`

I'd like to write about a small game I'm making called "Galactic Mess", thank you!

[2022-07-30 16:10] Ralith commented on #1098
Taking hecs.

[2022-07-31 02:14] eliotbo commented on #1098
I'll write about bevy_shadertoy_wgsl

On Sat, Jul 30, 2022 at 12:10 PM Benjamin Saunders ***@***.***>
wrote:

[2022-07-31 02:51] gregstoll commented on #1098
I'll take Pathfinding in Rust: A tutorial with examples - thanks!

[2022-07-31 03:44] cart commented on #1098
I'll take Bevy 0.8

[2022-07-31 15:48] tedsteen commented on #1098
I did NES Bundler, hope I did it right 😄

[2022-08-01 17:05] nicopap commented on #1098
I'll be writing a section about `bevy_fbx` (not listed, a new library)

[2022-08-02 00:35] TuckerBMorgan commented on #1098
I will take Agma!

[2022-08-02 00:57] cwfitzgerald commented on #1098
I will do my best to take wgpu 0.13/naga 0.9

[2022-08-02 04:05] kunos commented on #1098
I won't be able to do Hydrofoil Generation this month. Hope to be in next month.

[2022-08-02 08:31] hakolao commented on #1098
Added #1116 about `Sand Fall With Compute Shaders in Rust`. Hopefully formatted correctly.